.acquisio-top
	top  -16em
	@media (max-width 600px)
		top  -6em

.ypsm-acquisio-header
	display block
	width 100%
	height 100px
	@media (max-width 600px)
		height 50px

.ypsm-logo-acquisio-lp
	width 50%
	padding-right 2em
	border-right 1px solid silver
	@media (max-width 600px)
		margin-left 1.6em

.acquisio-logo
	width 38%
	margin-left 2em
	@media (max-width 600px)
		margin-left 2em
		width 32%
		

.acquisio-vid-container
	@media (max-width 600px)
		margin-top 3em
	p
		font-size .9em
		line-height 1.6em
		margin 1.6em 0