.adweek-top	
	top  -8em
	@media (max-width 600px)
		top  -6em
.adweek-hero
	background url('../images/h_adweek.jpg')
	background-size cover
	h1
		top 3em
		display table
	@media (max-width mobile-width)
		height 240px

.header-sup 
	font-size 12px
	top -18px
	@media (max-width mobile-width)
		font-size 9px
		top -10px
			
.adweek-map
	width 100%
	margin 1.6em 0
	border 1px solid black
	@media (max-width mobile-width)
		display none
	
.adweek-form
	margin-top 3em
	padding 0 2.4em 2.4em 2.4em
	@media (max-width mobile-width)
		padding 0
	button
		border-radius 0
		margin-top 1.6em
		font-size 1.6em
	h1
		font-size 36px
		display block
		text-align center
		padding-bottom .2em	
		margin-bottom .6em	
		border-bottom 8px solid yp-yellow
		@media (max-width mobile-width)
			font-size 30px
	p
		font-size 1em
		line-height 1.8em
		padding-bottom 1.8em
		
	h2
		font-size 1.6em
		margin-top 2.4em
		padding-bottom .8em
		border-bottom 1px solid #c9c7c7
		text-align center
	label.label-name
		font-size 1.2em
		

.event
	margin-bottom 1.6em
	padding-bottom 1.6em
	h3
		font-size 1.4em
		font-weight bold	
	h4
		font-size 1em
		font-weight bold
	.event-description
		margin-bottom 1em
		line-height 1.8em
		font-weight 500
	.dtstart
		font-style italic


.number-circle
	display inline-block
	background yp-yellow	
	border-radius 100%
	width 20px
	height 20px
	text-align center
	padding .3em
	box-sizing border-box
	font-size .7em
	font-weight bold
	border 2px solid black
	line-height 1em
	float left
	margin 0 .8em 0 0
.adweek-label
	display flex-box
	font-weight 100
	input[type="checkbox"]
		width 25px
		float left
		display inline-block	
	span.label-text
		float left
		width 90%
		display inline-block
		@media (max-width mobile-width)
			width 80%
	input, span
		font-weight 400
		position relative
		
.look-forward
	h1
		text-align center
		font-size 1.6em
		line-height 1.3em
	p
		text-align center
		font-size 1em
.adweek-promo-banner
	top 72px
	position relative
	z-index 1
	background-color #283575
	display block
	height 96px
	color white
	border 4px solid #4354a8
	@media (max-width mobile-width)
		height auto
	.adweek-banner-container
		img
			width 100%			

.thanks-survival-download
	top 72px
	position relative
	z-index 1
	background-color #283575
	display none
	height 66px
	color white
	border 4px solid #4354a8
	@media (max-width mobile-width)
		height auto
	.adweek-banner-container
		img
			width 100%