.get-started
	margin 0 auto

.get-started, .learn-more
	display block
	padding .3em 1em
	width 230px
	color black
	text-align center
	background #FFE631
	border-radius(0px)
	border none
	font-size 22px
	font-weight 500
	&:hover, &:focus
		color black
		text-decoration none
	@media (max-width tablet-width)
		width 34%
	@media (max-width mobile-width)
		width 80%