.display-hero
	background url('../images/h_display.jpg')
	background-size cover
	
.display-article-1
	background url('../images/h_better_reach.jpg') no-repeat 0 0
	background-size cover
	height 350px
	@media (max-width mobile-width)
		background url('../images/h_better_reach_mobile.jpg') no-repeat 0 0
		height 150px

.display-article-2
	background url('../images/h_consumer_products.jpg') no-repeat 0 0
	background-size cover
	height 350px
	@media (max-width mobile-width)
		background url('../images/h_consumer_products_mobile.jpg') no-repeat 0 0
		height 150px

.display-product .product-bullets
	margin-top 3em