
.downloads
	background black
	text-align center
	h1
		color white
		border-bottom 8px solid yp-yellow
		display inline-block
		margin 1.25em auto 1.528em auto
		padding-bottom .25em
		text-align center
		font-size 3.281em
	@media(max-width mobile-width)
		h1
			font-size 2.292em

.download-band
	background black
	color white
	padding-bottom 5.158em
	h2
		font-size 1.528em
		text-align center
		line-height 28px
	p
		text-align center
		font-size 0.833em
		margin-bottom 3.281em
	a
		color white
		&:hover, &:focus
			color white
			text-decoration none
	@media(max-width mobile-width)
		a
			display block
			width 100%
			margin 0 auto 5em auto
.download-block
	margin-bottom 5em

.download-icon
	width 55px
	display block
	margin 0 auto

.download-thumb
	width 80px
	display block
	margin 0 auto

.thanks-submit
	border-top 70px solid white
	display none
	background #5ED765
	color white
	padding 1.25em
	h3
		text-align center