.main-form
  width 100%
  .parsley-required
    padding-top .5em
  input.parsley-error
    background none
  label
    margin-top .9em
    padding-bottom .3em
    font-weight bold
    font-size 14px
  input
    width 100%
    border 1px solid #C9C7C7
    padding .7em
  select.form-control
    width 100%
    height 40px
    border 1px solid #C9C7C7
    padding 2em !important
  textarea
    width 100% !important
    border 1px solid #c9c7c7 !important
    padding 0.7em !important
  button
    margin 1em auto
    display block
    padding .5em 1.6em
    background #FDDB00
    border none
    font-size 27px
    font-weight 700