.acquisio-top
	top  -16em
	@media (max-width 600px)
		top  -6em

.location-accuracy-hero
	background url('../images/h_location-accuracy.jpg')
	background-size cover

.location-accuracy-bullets
	font-size 1.25em
	margin 1.6em 1.25em
	padding 0
	li
		line-height 1.6em
		margin-bottom 1em
	@media (max-width mobile-width)
		font-size .8em

.boldIt
	font-weight bold