/* Variables */

/* black box headers on home page */
blackboxfont = 2.292em 
blackboxlineheight = 1.25em

/* media query breakpoints */
tablet-width = 767px
mobile-width = 600px

/* colors */
yp-yellow = #FFE631

/* Import Modules */

@import "mixins"
@import "buttons"
@import "product-overview"
@import "testimonials"
@import "search-page"
@import "mobile-page"
@import "display-page"
@import "downloads"
@import "mobile-labs"
@import "product-pages"
@import "news"
@import "events"
@import "watch"
@import "ypsm-signup"
@import "local-brand-analysis"
@import "social-icons"
@import "search-marketplace"
@import "mma2015"
@import "acquisio-signup"
@import "location-accuracy"
@import "location-insights"
@import "sundae-mania"
@import "adweek"

/* Modular Scale ---------------------- 45px @ 1:1.5	 940px @ 1:1.5	 ----------------------*/

/* Make Placeholder Text Fade Out On Focus Event */

[placeholder]:focus::-webkit-input-placeholder
  transition: opacity 0.1s 0.1s ease
  opacity 0

/* Make Selection Text YP Yellow */

::-moz-selection
	background #FEE600
	color black
::selection
	background #FEE600
	color black

*, *:before, *:after
	-moz-box-sizing border-box
	-webkit-box-sizing border-box
	box-sizing border-box

a
	color black
	cursor pointer

	&:hover
		color black
	&:focus
		color black

html, body
	background white
	overflow-x hidden 
	font normal 100%

.container
	width 900px
	position relative
	@media (max-width 900px)
		width auto
		padding-right 7px		
	@media (max-width mobile-width)
		width auto
		padding-right 11px

.header
	background: rgba(255,255,255,0.95)
	height 5.158em

.icon-bar
	background black

.logo
	width 10.219em
	margin-top 1.2em
	@media (max-width tablet-width)
		margin-left 1em
	@media (max-width 790px)
		margin 1.2em 1em 0 3.2em
	@media (max-width mobile-width)
		margin-left 1em		

.navbar-default
    background-color white
    border-color white
    
.navbar-default
	background transparent!important
	border none

.navbar-toggle
	margin 1.4em 1.2em .6em 0em

@media (max-width 3000px)
    .navbar-header 
        float none
        margin 0
    .navbar-toggle 
        display block
    .navbar-collapse 
        border-top 1px solid transparent
        box-shadow inset 0 1px 0 rgba(255,255,255,0.1)
        background white
        display block
        margin 0
        padding 0
    .navbar-collapse.collapse 
        display none!important

    .navbar-nav 
        float right!important
        width auto
        margin 0
    .navbar-nav>li 
        float none
        margin 0!important
        padding .3em
    .navbar-nav > li > a 
        padding 10px 15px!important
        background white
    .nav-pills
    	margin-top 10px
    .nav-pills li a
    	margin 0!important
    	text-align center
    	float none
    	border 1px solid black

.nav-list
	display none
	background white
	position absolute
	margin 0
	padding 0
	top 72px
	right 35px
	list-style none
	border-top 1px solid #272822
	width 200px
	li		
		background black
		border-bottom 1px solid #272822
		border-left 1px solid #272822
		border-right 1px solid #272822
		a
			font-size 1.25em
			display block
			padding 0.5em
			text-decoration none
			width 100%
			color white
			-webkit-tap-highlight-color rgba(255, 230, 49, 1)
			&:hover
				background yp-yellow
				color black
			&:active
				background yp-yellow
				color black				
			
	li.current > a
		background white
		color black
		
	#close-nav
		display block
		text-align right
		color white
		padding 0.3em .8em
		font-weight 100
		font-family "Helvetica Neue", Helvetica, Arial, sans-serif
		font-size 1.6em
		cursor pointer

.menu-button
	float right

.menu-text
	display inline-block
	margin-right 8px
	margin-top 0px

.burger
	display inline-block
	position relative
	top 1px

.home-hero
	display block
	background black url('../images/h_home.jpg') no-repeat
	background-size cover
	background-attachment scroll
    background position left top
	height 350px
	width 100%
	@media (max-width mobile-width)
		display block
		background url('../images/h_home.jpg') no-repeat
		background-size cover
		background-attachment scroll
	    background position left top
		height 190px
		width 100%


@media (max-width mobile-width)
	.hero
		height 200px

.hero-header
	display block
	width 100%
	margin 0 auto
	padding 0.453em
	background black
	color white
	font-size 2.813em
	font-weight 200
	text-align center
	line-height 40px
	position relative
	top 165px
	letter-spacing 0px
	@media (max-width mobile-width)
		margin 0 auto
		padding 0.165em
		width 90%
		font-size 1.25em
		line-height 1.2em
		position relative
		top 95px
		background rgba(0,0,0,0.80)

.icon-nav
	margin 4.219em 0 0em 0
	a
		color black
		text-decoration none
		text-align center
		h2
			font-size 2.292em
			background yp-yellow
			padding 0.247em
			width 70%
			margin 0.679em auto
			border-radius(0px)
		p
			width 80%
			margin 0 auto 2.813em auto
			font-size 1.25em

.product-icon
	display block
	margin 0 auto
	width 75.5%

@media (max-width tablet-width)
	.icon-nav
		a
			h2
				font-size 2.292em
			p
				font-size 1.019em				
	.product-icon
		width 75.5%

@media (max-width mobile-width)
	.icon-nav
		margin 2.292em 0 0 0 
		a
			h2
				margin-top 0.679em
				font-size 1.25em
				width 100%
			p
				display none				
	.product-icon
		width 100%

.icon-container
	display block
	min-height 450px

@media (max-width mobile-width)
	.icon-container
		display block
		min-height 170px

.p1
	display none

.p2
	display none

.p3
  display none

.hero-promo
	display block
	background url('../images/h_campaigns.jpg') no-repeat
	background-size cover
	height 520px

.hero-promo-header
	display block
	position relative
	top 4em
	width 100%
	padding 1em
	background black
	color white
	font-size blackboxfont
	line-height blackboxlineheight

@media (max-width tablet-width)
	.hero-promo-header
		font-size 1.875em
		width 80%
		margin 20%

@media (max-width mobile-width)
	.hero-promo
		height 250px
		position relative
	.hero-promo-header
		font-size 1.528em
		width 100%
		margin 0
		color black
		background: rgba(255,255,255,0.80)

.arrow
	width: 0 
	height: 0 
	border-left: 60px solid transparent
	border-right 60px solid transparent	
	border-top: 50px solid #000
	margin 0 auto 4em auto

.arrow-white
	width: 0 
	height: 0 
	border-left: 60px solid transparent
	border-right 60px solid transparent	
	border-top: 50px solid #fff
	margin 0 auto 4em auto
.arrow-gray
	width: 0 
	height: 0 
	border-left: 60px solid transparent
	border-right 60px solid transparent	
	border-top: 50px solid #282828
	margin 0 auto 4em auto

@media (max-width mobile-width)
	.arrow
		width: 0 
		height: 0 
		border-left: 30px solid transparent
		border-right 30px solid transparent	
		border-top: 25px solid #000
		margin 0 auto 2.292em auto
	.arrow-white
		width: 0 
		height: 0 
		border-left: 30px solid transparent
		border-right 30px solid transparent	
		border-top: 25px solid #fff
		margin 0 auto 2.292em auto
	.arrow-gray
		width: 0 
		height: 0 
		border-left: 30px solid transparent
		border-right 30px solid transparent	
		border-top: 25px solid #282828
		margin 0 auto 2.292em auto

.big-stat	
	padding-top 0em		
	color black
	text-align center
	h1
		margin-top .6em
		font-size 5.158em
		font-weight 800
		letter-spacing -2px
	h2
		font-size 2.813em
		width 70%
		margin 0 auto
	sup
		font-size 18px
		margin-left 2px
		vertical-align baseline
		position relative
		top -12px

@media (max-width mobile-width)
	.big-stat	
		margin 0 0 2em 0
		h1
			font-size 3.439em
		h2
			font-size 1.25em
			width 90%
		sup
			font-size 9px
			margin-left 2px
			vertical-align baseline
			position relative
			top -9px

.ipad-hero
	margin-top 5em
	background url('../images/ipad-finger.jpg') no-repeat
	background-size cover

@media (max-width tablet-width)
	.ipad-hero
		margin-top 0
		padding-bottom 5em

.big-stat-blurb
		margin 5em 0
		display block
		color white
		padding 1em
		background-color black
		font-size blackboxfont
		line-height blackboxlineheight
		text-align left
		font-weight 500
		sup
			font-size 18px
			margin-left 2px
			vertical-align baseline
			position relative
			top -12px

@media (max-width tablet-width)
	.big-stat-blurb
		font-size 1.875em
		width 80%
		margin 20%

@media (max-width mobile-width)
	.big-stat-blurb
		font-size 1.528em
		width 100%
		margin 5em 0 0 0 
		color black
		background: rgba(255,255,255,0.80)
		sup
			top -6px

// LOCAL BRAND ANALYSIS PROMO BAR STYLES
// .lba
// 	display block
// 	padding 5.158em 0
// 	height auto
// 	background #000 url("../images/lamp.png") no-repeat 91% 0%
// 	color white
// 	h1
// 		font-size 3.439em
// 		line-height 45px
// 	p
// 		margin 2em 0
// 		font-size 20px
// 		font-weight 300
// 		line-height 30px
// 		color #A6A8AB

// @media (min-width 1200px)
// 	.lba
// 		background #000 url("../images/lamp.png") no-repeat 80% 0%
// 		background-size 30%

// @media (max-width tablet-width)
// 	.lba
// 		background-size 35%
// 		h1
// 			width 70%
// 		p
// 			width 70%
// 		.learn-more
// 			width 27%

// @media (max-width mobile-width)
// 	.lba
// 		padding 1.25em 0 3.439em 0
// 		background black
// 		h1
// 			width 70%
// 			font-size 2.813em
// 		p
// 			width 100%
// 			font-size 1.25em
// 			line-height 1.528em
// 		.learn-more
// 			width 80%
// 			margin 0 auto
// 		span.yellow-line
// 			line-height 1em
// 			padding-bottom 0.453em

.sm-promo
	display block
	padding 5.158em 0
	height auto
	background #000 url("../images/sm-promo.png") no-repeat 87% 60%
	background-size 25%
	color white
	h1
		font-size 3.439em
		line-height 45px
	p
		margin 2em 0
		font-size 20px
		font-weight 300
		line-height 30px
		color #A6A8AB
	sup
		vertical-align top
		position relative
		top .8em
		font-size 18px

@media (min-width 1200px)
	.sm-promo
		background #000 url("../images/sm-promo.png") no-repeat 91% 70%
		background-size 30%

@media (max-width 790px)
	.sm-promo
		padding 5.158em 3em

@media (max-width tablet-width)
	.sm-promo
		background #000 url("../images/sm-promo.png") no-repeat 95% 55%
		background-size 25%
		padding
		h1
			width 70%
		p
			width 70%
		.learn-more
			width 27%

@media (max-width mobile-width)
	.sm-promo
		padding 1.25em 0 3.439em 0
		background black
		h1
			width 100%
			font-size 2.813em
			padding 0 1em
		p
			width 100%
			font-size 1.25em
			line-height 1.528em
			padding 0 2.2em
		.learn-more
			width 80%
			margin 0 auto
		span.yellow-line
			line-height 1em
			padding-bottom 0.453em

.yellow-line
	display inline-block
	padding-bottom 5px
	line-height 70px
	border-bottom 8px solid yp-yellow

.partners
	text-align center
	padding 0 0 8em 0
	h1
		display inline-block
		font-size 3.439em
		padding-bottom 10px
		border-bottom 8px solid yp-yellow
	p
		font-size 2.292em
		padding-top 1.019em
	sup
			font-size 18px
			margin-left 2px
			vertical-align baseline
			position relative
			top -12px
		
	img
		margin-top 5em
		width 100%

@media (max-width 790px)
	.partners
		img
			padding 0 3em

@media (max-width mobile-width)
	.partners
		padding 0 2em 3em 2em
		h1
			font-size 2.813em
			margin-top 0px
		p
			font-size 1.25em
			padding-top 1.019em
		sup
			font-size 12px
			top -8px
		br
			display none
		img
		 margin-top 1em
		 padding 0


.contact-band
	text-align center
	color white
	background-color #282828
	padding-bottom 4em
	h1
		display inline-block
		font-size 3.281em
		font-weight 400
		padding-bottom 10px
		border-bottom 8px solid yp-yellow

@media (max-width mobile-width)
	.contact-band
		h1
			font-size 2.292em
			margin-top 0px

.form-contact
	margin 4em auto	
	.form-checkbox
		.contact-check
			display inline-block
			width auto
			border-radius(0px)
			appearance checkbox	
			padding 0px
			margin 0px		
		label
			font-size 0.833em
			display inline
	label
		display block
		font-size 1.89em
		text-align left
		padding-left 1em
		font-weight 300
	input, textarea
		display block
		width 90%
		border-radius(0px)
		border none
		font-size 1.875em
		padding 8px 16px
		margin 0 auto .8em auto
	button
		margin 1.6em auto

@media (max-width tablet-width)
	.form-contact
		margin 2em auto
		width 70%

@media (max-width mobile-width)
	.form-contact
		margin 2em auto
		width 100%
		input, textarea
			font-size 1.25em
		label
			font-size 1.528em

.form-downloads
	label
		display block
		font-size 1.89em
		text-align left
		padding-left 1em
		font-weight 300
	input, textarea
		display block
		width 90%
		border-radius(0px)
		border none
		font-size 1.875em
		padding 8px 16px
		margin 0 auto .8em auto
		border 1px solid silver
	button
		margin 1.6em auto
		background-color yp-yellow
		border none
		width 60%
		padding .6em

	.form-checkbox
		margin 0 auto
		width 90%
		.contact-check
			display inline-block
			width auto
			border-radius(0px)
			appearance checkbox	
			padding 0px
			margin 0px		
		label
			font-size 0.833em
			display inline

.modal-header
	text-align center

ul.parsley-errors-list
	margin 0
	padding 0
.parsley-errors-list
	list-style none
	text-align center
	width 100%
	color #F27272
	font-size .9em
	padding 0
	margin 0 auto
	position relative

.footer
	padding-top 3em
	height auto
	background-color black
	.logo
		width 110px
	ul
		list-style none
		a
			color white
			&:hover
				background none
	.annotations
		padding-top 3em
		color #494949
	.copywrite
		padding 2em 0
		a
			color #505050
	p
		text-align center
		font-size 11px
		margin 0 0


// Paired Down Navigation
.footer-nav
	margin 0 auto 2em auto
	padding 0
	display table
	img
		display inline-block
		width 100px
		height 100px
		margin-right 1em
	ul
		display inline-block
		margin 0
		padding 0
		li
			display inline-block
			margin-right 2em
			font-size 25px
			font-weight 300
			color white	

@media (max-width tablet-width)
	.footer-nav
		width 285px
		img
			width 90px
			height 90px
			display block
			margin 0 auto
		ul
			display block
			width 100%
			li
				display block
				text-align center
				width 100%
				margin 0 auto
				font-size 15px
					
.ypms-footer-logo
	width 10.219em!important

// Corporate Links
.yp-links
	ul		
		margin 0 auto
		padding 0
		width 680px
		text-align center
		list-style none
		li
			display inline-block
			text-align center
			margin 0
			padding 0
			a
				margin 0
				padding 0
				color #afafaf
			span 
				display inline-block
				margin 0 10px 0 14px

@media (max-width tablet-width)
	.yp-links
		ul
			width auto
			text-align left
			li
				display block
				margin-bottom 1em
				span
					display none

// hide honeypot fields 
.feedinto
	display none
	

