/* Variables */
/* black box headers on home page */
/* media query breakpoints */
/* colors */
/* Import Modules */
.get-started {
  margin: 0 auto;
}
.get-started,
.learn-more {
  display: block;
  padding: 0.3em 1em;
  width: 230px;
  color: #000;
  text-align: center;
  background: #ffe631;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border: none;
  font-size: 22px;
  font-weight: 500;
}
.get-started:hover,
.learn-more:hover,
.get-started:focus,
.learn-more:focus {
  color: #000;
  text-decoration: none;
}
@media (max-width: 767px) {
  .get-started,
  .learn-more {
    width: 34%;
  }
}
@media (max-width: 600px) {
  .get-started,
  .learn-more {
    width: 80%;
  }
}
.product-overview {
  padding-top: 0em;
  height: auto;
  color: #fff;
  background-size: cover;
}
.product-overview h1 {
  margin-top: 1.875em;
  font-size: 3.439em;
  margin-bottom: 0.833em;
}
.product-overview p {
  font-size: 1.528em;
  line-height: 1.528em;
  font-weight: 100;
}
.product-overview img {
  width: 100%;
  margin: 0 auto;
  display: block;
}
.product-overview .gray-lines {
  margin: 1.8em auto 0 auto;
  float: left;
  width: 100%;
  height: 1px;
}
.back-to-top {
  color: #808080;
  display: block;
  position: relative;
  float: right;
  font-size: 16px;
  font-weight: 100;
  margin: 1.9em 1.6em 0 0;
}
.back-to-top:hover {
  text-decoration: none;
  color: #c0c0c0;
}
.back-to-top .glyphicon-chevron-up {
  font-size: 15px;
  margin-left: 5px;
}
@media (max-width: 767px) {
  .back-to-top {
    display: none;
  }
}
@media (max-width: 767px) {
  .product-overview {
    padding-top: 0em;
    height: auto;
    color: #fff;
    background-size: cover;
  }
  .product-overview h1 {
    margin-top: 0em;
    font-size: 3.439em;
    margin-bottom: 0.833em;
    text-align: center;
  }
  .product-overview p {
    font-size: 1.528em;
    line-height: 1.528em;
    font-weight: 100;
    text-align: center;
    padding: 0 2em;
  }
  .product-overview img {
    width: 70%;
    margin: 0 auto;
    display: block;
  }
  .product-overview span {
    margin: 0.6em 0 0 0;
  }
  .product-overview .gray-lines {
    display: none;
  }
}
@media (max-width: 790px) {
  .product-overview {
    padding: 0 3em;
  }
}
@media (max-width: 600px) {
  .product-overview {
    padding: 0;
    height: auto;
    color: #fff;
    background-size: cover;
  }
  .product-overview h1 {
    margin-top: 0em;
    font-size: 3.439em;
    margin-bottom: 0.833em;
    text-align: center;
  }
  .product-overview p {
    font-size: 1.019em;
    line-height: 1.875em;
    font-weight: 300;
    text-align: center;
    padding: 0 1em;
  }
  .product-overview img {
    display: none;
  }
}
.product-mobile {
  padding-top: 4em;
  background: url("../images/bg_product_mobile.jpg") no-repeat fixed 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
@media (max-width: 790px) {
  .product-mobile {
    background: #181818 url("../images/bg_product_mobile_grd.jpg") no-repeat;
  }
}
.product-display {
  background: url("../images/bg_product_search.jpg") no-repeat fixed 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
@media (max-width: 790px) {
  .product-display {
    background: #181818 url("../images/bg_product_search_grd.jpg") no-repeat;
  }
}
.product-display .stat-box {
  margin-top: 100px;
}
@media (max-width: 800px) {
  .product-display .stat-box {
    margin-top: 30px;
  }
}
.product-search {
  background: url("../images/bg_product_display.jpg") no-repeat fixed 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
@media (max-width: 790px) {
  .product-search {
    background: #181818 url("../images/bg_product_display_grd.jpg") no-repeat;
  }
}
.product-search .stat-box {
  font-size: 9px;
  margin-top: 30px;
}
.stat-box {
  padding: 2em;
  margin-top: 5.158em;
  color: #000;
  background: #fff;
  width: 100%;
}
.stat-box h1 {
  font-size: 69px;
  margin: 0;
}
.stat-box h2 {
  font-size: 20px;
  margin: 0 0 0.6em 0;
  line-height: 28px;
}
.stat-box sup {
  font-size: 18px;
  margin-left: 2px;
  vertical-align: baseline;
  position: relative;
  top: -12px;
}
@media (max-width: 767px) {
  .stat-box {
    padding: 2em;
    margin: 5.158em auto 0 auto;
    color: #000;
    background: #fff;
    width: 35%;
  }
  .stat-box h1 {
    font-size: 69px;
    margin: 0;
    text-align: left;
  }
  .stat-box h2 {
    font-size: 20px;
    margin: 0 0 0.6em 0;
    line-height: 34px;
  }
  .stat-box br {
    display: none;
  }
}
@media (max-width: 790px) {
  .stat-box {
    width: 90%;
  }
  .stat-box h1 {
    font-size: 50px;
  }
  .stat-box h2 {
    font-size: 12px;
    line-height: 20px;
  }
  .stat-box sup {
    font-size: 9px;
    margin-left: 2px;
    vertical-align: baseline;
    position: relative;
    top: -5px;
  }
}
@media (max-width: 767px) {
  .stat-box {
    width: 40%;
  }
  .stat-box h1 {
    font-size: 69px;
  }
  .stat-box h2 {
    font-size: 20px;
    line-height: 20px;
  }
}
@media (max-width: 600px) {
  .stat-box {
    padding: 2em;
    margin: 0 auto 0 auto;
    width: 220px;
  }
  .stat-box h2 {
    line-height: 1.4em;
  }
  .stat-box br {
    display: none;
  }
}
.product-description {
  margin-bottom: 0em;
}
.learn-more-block {
  display: block;
  margin: 2.6em 0 0.8em 0;
  text-align: center;
}
.learn-more-link {
  color: #ffe631;
}
.learn-more-link:hover,
.learn-more-link:active,
.learn-more-link:focus {
  color: #ffe631;
}
@media (max-width: 600px) {
  .learn-more-link {
    font-size: 12px;
  }
}
.home-product-list {
  list-style: none;
  display: block;
}
.home-product-list li {
  display: inline-block;
  vertical-align: top;
  width: 32%;
  text-align: center;
  font-size: 1.1em;
  padding: 0;
}
.home-product-list a {
  color: #fff;
}
.home-product-list a:hover {
  color: #fff;
}
.home-product-list .white-square {
  margin-right: 5px;
  position: relative;
  top: -1px;
}
@media (max-width: 790px) {
  .home-product-list li {
    font-size: 1em;
  }
}
@media (max-width: 600px) {
  .home-product-list li {
    display: block;
    width: 83%;
    margin-bottom: 0.5em;
  }
  .home-product-list .white-square {
    display: inline-block;
  }
}
.product-stats {
  margin: 7em 0 10em 0;
}
@media (max-width: 600px) {
  .product-stats {
    margin: 2em 0 10em 0;
  }
}
.get-started-box {
  margin-bottom: 10em;
}
@media (max-width: 767px) {
  .product-description {
    margin-bottom: 2em;
  }
  .product-stats {
    margin-bottom: 5em;
  }
  .get-started-box {
    margin-bottom: 5em;
  }
}
.yellow-square {
  display: inline-block;
  background: #ffe631;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.yellow-square-last {
  display: inline-block;
  background: #ffe631;
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
.product-article {
  padding: 1.25em 3.439em;
  background: #fff;
  position: relative;
  top: -3em;
}
.product-article h1 {
  font-size: 2.292em;
  letter-spacing: -1px;
  line-height: 42px;
}
.product-article p {
  font-size: 1.4em;
  line-height: 1.8em;
}
.product-article a {
  color: #000;
  font-weight: bold;
}
.product-article a:hover {
  color: #000;
}
@media (max-width: 600px) {
  .product-article {
    padding: 0.165em 1.019em;
    margin-bottom: 0;
  }
  .product-article h1 {
    font-size: 1.528em;
    line-height: 1.2em;
  }
  .product-article p {
    font-size: 1.019em;
    line-height: 1.7em;
  }
}
.product-article-no-bg {
  padding: 1.25em 3.439em;
  background: #fff;
  position: relative;
}
.product-article-no-bg h1 {
  font-size: 2.292em;
  letter-spacing: -1px;
}
.product-article-no-bg p {
  font-size: 1.4em;
  line-height: 1.8em;
}
.product-article-no-bg a {
  color: #000;
  font-weight: bold;
}
.product-article-no-bg a:hover {
  color: #000;
}
@media (max-width: 600px) {
  .product-article-no-bg {
    padding: 0.165em 1.019em;
    margin-bottom: 0;
  }
  .product-article-no-bg h1 {
    font-size: 1.528em;
    margin-left: 20px;
  }
  .product-article-no-bg p {
    font-size: 1.019em;
    line-height: 1.7em;
    margin-left: 20px;
  }
}
.product-shot {
  width: 85%;
  display: block;
  margin: 0 auto;
}
.product-points {
  margin-bottom: 4em;
}
.product-points h2 {
  border-bottom: 4px solid #ffe631;
  display: inline-block;
}
.product-points ul {
  font-size: 1.25em;
  margin: 0;
  padding: 0.556em 1.25em;
}
.product-points ul li {
  margin: 0 0 0.556em 0;
}
@media (max-width: 600px) {
  .product-points h1 {
    margin: 0 auto;
  }
  .product-points h2 {
    font-size: 1.528em;
  }
  .product-points ul {
    font-size: 1.019em;
  }
}
.stat-block {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 3.439em 0 5.158em 0;
}
.stat-block h2 {
  font-size: 4.219em;
}
.stat-block p {
  font-size: 1.875em;
  width: 50%;
  margin: 0 auto;
}
.stat-block sup {
  font-size: 60%;
  line-height: 1.875em;
  padding-left: 2px;
}
@media (max-width: 600px) {
  .stat-block {
    padding: 0.8em 0 2em 0;
  }
  .stat-block h2 {
    font-size: 2.813em;
  }
  .stat-block p {
    font-size: 1.019em;
    width: 80%;
  }
}
.home-testimonial {
  padding: 8em 0;
  height: auto;
  background: #000;
  color: #fff;
  text-align: center;
}
.home-testimonial .testimonial {
  z-index: 1;
  position: relative;
  display: inline-block;
  border: none;
  font-size: 2.813em;
  line-height: 1.25em;
  margin-bottom: 0px;
  padding: 0 0.556em;
  width: 90%;
}
.home-testimonial .testimonial:before {
  display: inline-block;
  position: relative;
  top: -10px;
  right: -28px;
  background: url("../images/open-quote.png");
  width: 58px;
  height: 54px;
  z-index: -1;
}
.home-testimonial .testimonial:after {
  display: inline-block;
  position: relative;
  bottom: -20px;
  left: -28px;
  background: url("../images/close-quote.png");
  width: 58px;
  height: 54px;
  margin-top: -20px;
  z-index: -1;
}
.home-testimonial cite {
  display: inline-block;
  letter-spacing: 1px;
  padding-top: 2em;
  font-size: 1.528em;
  font-weight: 100;
}
@media (max-width: 767px) {
  .home-testimonial {
    padding: 4em 0;
  }
  .home-testimonial .testimonial {
    font-size: 1.875em;
  }
  .home-testimonial .testimonial:before {
    top: -5px;
    right: -18px;
    background: url("../images/open-quote-md.png") no-repeat;
    width: 38px;
    height: 35px;
  }
  .home-testimonial .testimonial:after {
    bottom: -11px;
    left: -18px;
    background: url("../images/close-quote-md.png") no-repeat;
    width: 38px;
    height: 35px;
    margin-top: -20px;
  }
  .home-testimonial cite {
    font-size: 1.25em;
  }
}
@media (max-width: 600px) {
  .home-testimonial {
    padding: 4em 0;
  }
  .home-testimonial .testimonial {
    width: 95%;
    font-size: 1.25em;
  }
  .home-testimonial .testimonial:before {
    top: -5px;
    right: -18px;
    background: url("../images/open-quote-md.png") no-repeat;
    width: 38px;
    height: 35px;
  }
  .home-testimonial .testimonial:after {
    bottom: -11px;
    left: -18px;
    background: url("../images/close-quote-md.png") no-repeat;
    width: 38px;
    height: 35px;
    margin-top: -20px;
  }
  .home-testimonial cite {
    font-size: 0.833em;
  }
  .home-testimonial .testimonial-noquotes {
    font-size: 1.25em;
    width: 80%;
  }
  .home-testimonial .testimonial-noquotes cite {
    font-size: 0.833em;
  }
}
.search-hero {
  background: url("../images/h_search.jpg");
  background-size: cover;
}
.search-article-1 {
  background: url("../images/h_local_performance.jpg") no-repeat 0 0;
  background-size: cover;
  height: 350px;
}
@media (max-width: 600px) {
  .search-article-1 {
    background: url("../images/h_local_performance_mobile.jpg") no-repeat 0 0;
    height: 150px;
  }
}
.search-article-2 {
  background: url("../images/h_local_level.jpg") no-repeat 0 0;
  background-size: cover;
  height: 350px;
}
@media (max-width: 600px) {
  .search-article-2 {
    background: url("../images/h_local_level_mobile.jpg") no-repeat 0 0;
    height: 150px;
  }
}
.mobile-hero {
  background: url("../images/h_mobile.jpg");
  background-size: cover;
}
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0px;
  height: 0;
  overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.emt-video {
  margin: 1.875em 0 0 0;
  padding: 0;
}
@media (max-width: 600px) {
  .emt-video {
    margin: 1.875em 2.3em 0 2.3em;
    padding: 0;
  }
}
.labs-article {
  background: url("../images/h_labs.png") no-repeat 0 0;
  background-size: cover;
  height: 350px;
}
@media (max-width: 600px) {
  .labs-article {
    background: url("../images/hm_labs.png") no-repeat 0 0;
    height: 150px;
  }
}
.mobile-product .product-bullets {
  margin-top: 3em;
}
.display-hero {
  background: url("../images/h_display.jpg");
  background-size: cover;
}
.display-article-1 {
  background: url("../images/h_better_reach.jpg") no-repeat 0 0;
  background-size: cover;
  height: 350px;
}
@media (max-width: 600px) {
  .display-article-1 {
    background: url("../images/h_better_reach_mobile.jpg") no-repeat 0 0;
    height: 150px;
  }
}
.display-article-2 {
  background: url("../images/h_consumer_products.jpg") no-repeat 0 0;
  background-size: cover;
  height: 350px;
}
@media (max-width: 600px) {
  .display-article-2 {
    background: url("../images/h_consumer_products_mobile.jpg") no-repeat 0 0;
    height: 150px;
  }
}
.display-product .product-bullets {
  margin-top: 3em;
}
.downloads {
  background: #000;
  text-align: center;
}
.downloads h1 {
  color: #fff;
  border-bottom: 8px solid #ffe631;
  display: inline-block;
  margin: 1.25em auto 1.528em auto;
  padding-bottom: 0.25em;
  text-align: center;
  font-size: 3.281em;
}
@media (max-width: 600px) {
  .downloads h1 {
    font-size: 2.292em;
  }
}
.download-band {
  background: #000;
  color: #fff;
  padding-bottom: 5.158em;
}
.download-band h2 {
  font-size: 1.528em;
  text-align: center;
  line-height: 28px;
}
.download-band p {
  text-align: center;
  font-size: 0.833em;
  margin-bottom: 3.281em;
}
.download-band a {
  color: #fff;
}
.download-band a:hover,
.download-band a:focus {
  color: #fff;
  text-decoration: none;
}
@media (max-width: 600px) {
  .download-band a {
    display: block;
    width: 100%;
    margin: 0 auto 5em auto;
  }
}
.download-block {
  margin-bottom: 5em;
}
.download-icon {
  width: 55px;
  display: block;
  margin: 0 auto;
}
.download-thumb {
  width: 70px;
  display: block;
  maring: 0 auto;
}
.thanks-submit {
  border-top: 70px solid #fff;
  display: none;
  background: #5ed765;
  color: #fff;
  padding: 1.25em;
}
.thanks-submit h3 {
  text-align: center;
}
.labs-hero {
  background: url("../images/h_labs.png") no-repeat 0 0;
  background-size: cover;
  height: 350px;
}
@media (max-width: 600px) {
  .labs-hero {
    height: 220px;
  }
}
.labs-article-optimization {
  background: url("../images/h_labs_optimization.jpg") no-repeat 0 0;
  background-size: cover;
  height: 350px;
}
@media (max-width: 600px) {
  .labs-article-optimization {
    background: url("../images/hm_labs_optimization.jpg") no-repeat 0 0;
    height: 150px;
  }
}
.labs-article-agencies {
  background: url("../images/h_labs_agencies.jpg") no-repeat 0 0;
  background-size: cover;
  height: 350px;
}
@media (max-width: 600px) {
  .labs-article-agencies {
    background: url("../images/hm_labs_agencies.jpg") no-repeat 0 0;
    height: 150px;
  }
}
.labs-article-macrosense {
  background: url("../images/h_labs_macrosense.jpg") no-repeat 0 0;
  background-size: cover;
  height: 350px;
}
@media (max-width: 600px) {
  .labs-article-macrosense {
    background: url("../images/hm_labs_macrosense.jpg") no-repeat 0 0;
    height: 150px;
  }
}
.nerd-alert {
  width: 70%;
}
@media (max-width: 600px) {
  .nerd-alert {
    display: none;
  }
}
.video-block {
  padding: 0 0 2.813em 0;
}
.video-block h2 {
  color: #fff;
  text-align: center;
  font-size: 3.281em;
  padding: 0 3.281em;
}
.video-block h3 {
  color: #fff;
  font-size: 2.292em;
  width: 90%;
  margin: 0 auto 0.833em auto;
}
.video-block .video-container {
  margin: 0 0;
}
.video-block p {
  color: #fff;
  font-size: 1.4em;
  line-height: 1.8em;
  width: 90%;
  margin: 0 auto 1.25em auto;
}
@media (max-width: 600px) {
  .video-block h2 {
    padding: 0.833em 0 0 0;
    font-size: 1.8em;
    line-height: 1.25em;
  }
  .video-block p {
    font-size: 0.99em;
    line-height: 1.7em;
    font-weight: 200;
  }
  .video-block .video-container {
    margin: 2.292em 0;
  }
}
.labs-vid {
  background: #282828;
}
.dr-video {
  margin: 3.439em 0;
}
.mission-bullets ul {
  list-style: none;
  margin-left: 0;
  padding-left: 30px;
  text-indent: -30px;
  margin-top: 1.019em;
}
.mission-bullets li {
  padding-left: 1em;
  margin-bottom: 0.6em;
}
.mission-bullets .yellow-bullet {
  width: 16px !important;
  height: 16px;
  display: inline-block !important;
  margin-right: 15px;
}
@media (max-width: 767px) {
  .mission-bullets {
    padding: 0 3.439em;
  }
}
@media (max-width: 600px) {
  .mission-bullets ul {
    font-size: 1.019em;
    margin-left: 1em;
    width: 95%;
  }
  .mission-bullets li {
    padding-left: 0;
    margin-bottom: 1.2em;
    margin-right: 1.2em;
  }
  .mission-bullets .yellow-bullet {
    width: 12px !important;
    height: 12px !important;
    display: inline-block !important;
    margin-right: 15px;
  }
}
.product-page-hero {
  display: block;
  height: 350px;
  width: 100%;
}
.product-page-hero h1 {
  background: #000;
  color: #fff;
  display: inline-block;
  position: relative;
  top: 4.219em;
  padding: 0.37em 0.833em;
  font-weight: 400;
}
@media (max-width: 790px) {
  .product-page-hero h1 {
    margin-left: 1em;
  }
}
@media (max-width: 600px) {
  .product-page-hero {
    height: 220px;
  }
  .product-page-hero h1 {
    top: 3.8em;
    left: 15px;
    font-size: 1.5em;
    margin-left: 0;
    margin-right: 31px;
  }
}
@media (max-width: 600px) {
  .product-bullets {
    padding: 0 3em 0 3em;
  }
}
.product-link-block {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 3.439em 0 5.158em 0;
}
.product-link-block h2 {
  font-size: 4.219em;
  margin: 0.37em 0 1.25em 0;
}
.product-link-block a {
  color: #fff;
}
.product-link-block a:hover {
  text-decoration: none;
  color: #fff;
}
@media (max-width: 600px) {
  .product-link-block h2 {
    font-size: 2.292em;
  }
}
.product-icon-links {
  display: block;
  margin: 0 auto;
  width: 60%;
}
@media (max-width: 600px) {
  .product-icon-links {
    display: block;
    margin: 0 auto;
    width: 30%;
  }
}
.product-icon-overview {
  width: 100%;
}
@media (max-width: 600px) {
  .product-icon-overview {
    display: none;
  }
}
.product-text {
  display: block;
  width: 100%;
  font-size: 1.528em;
  font-weight: 100;
  text-align: center;
  padding: 1.25em 0;
}
@media (max-width: 600px) {
  .product-text {
    padding: 0.37em 0;
    margin-bottom: 2.292em;
  }
}
.product-card {
  border: 17px solid #e6e7e8;
  margin: 0.833em 0 6.328em 0;
  padding: 7.737em 6.328em;
  width: 98%;
}
.product-card img {
  width: 100%;
}
@media (max-width: 600px) {
  .product-card {
    border: 5px solid #e6e7e8;
    margin: 0.833em 0 2.292em 0;
    padding: 1.875em 1.019em;
  }
  .product-card img {
    display: none;
  }
}
.product-card-info {
  padding-left: 3.439em;
}
.product-card-info h1 {
  font-size: 2.813em;
  font-weight: 500;
}
.product-card-info p {
  font-size: 1.528em;
  font-weight: 300;
}
.product-card-info a {
  font-weight: bold;
  color: #000;
}
.product-card-info a:hover {
  color: #000;
}
@media (max-width: 600px) {
  .product-card-info {
    padding-left: 2.292em;
  }
  .product-card-info h1 {
    margin-top: 0.37em;
    font-size: 1.875em;
    font-weight: 500;
  }
  .product-card-info p {
    font-size: 1.019em;
    font-weight: 300;
  }
}
.gray-line-product {
  border-top: 2px solid #e6e7e8;
  margin-top: 3.439em;
}
@media (max-width: 600px) {
  .gray-line-product {
    display: none;
  }
}
.product-card-bullets ul {
  list-style: none;
  margin-left: 0;
  padding-left: 30px;
  text-indent: -30px;
  margin-top: 1.875em;
  font-size: 1.528em;
}
.product-card-bullets li {
  padding-left: 1em;
  margin-bottom: 0.6em;
}
.product-card-bullets .yellow-bullet {
  width: 16px !important;
  height: 16px;
  display: inline-block !important;
  margin-right: 15px;
}
@media (max-width: 600px) {
  .product-card-bullets ul {
    font-size: 1.019em;
    margin-left: 1em;
    width: 95%;
  }
  .product-card-bullets li {
    padding-left: 0;
    margin-bottom: 1.2em;
    margin-right: 1.2em;
  }
  .product-card-bullets .yellow-bullet {
    width: 12px !important;
    height: 12px !important;
    display: inline-block !important;
    margin-right: 15px;
  }
}
.top-story {
  background: #000;
}
.top-story .news-card {
  border-bottom: none;
  color: #fff;
  padding: 2em 4em 2em 2em;
}
.top-story .news-card a {
  color: #fff;
}
.top-story .news-card a:hover {
  color: #fff;
  border-color: #fff;
}
.news-header {
  background: url("../images/h_news.jpg") no-repeat 0 0;
  background-size: cover;
  height: 350px;
}
@media (max-width: 600px) {
  .news-header {
    height: 220px;
  }
}
.news-card {
  border-bottom: 2px solid #e6e7e8;
  margin: 0.833em 0 2.292em 0;
  padding: 0 4em 4em 2em;
  width: 98%;
}
.news-card a {
  color: #000;
  font-weight: 900;
  font-size: 1.528em;
}
.news-card a:hover {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #000;
}
@media (max-width: 600px) {
  .news-card {
    padding: 0 0 4em 0;
  }
  .news-card a {
    font-size: 1.019em;
  }
}
.last-card {
  border-bottom: none;
}
.news-card-info {
  padding-left: 3.439em;
}
.news-card-info h1 {
  font-size: 2.813em;
  font-weight: 500;
  line-height: 50px;
}
.news-card-info p {
  font-size: 1.528em;
  font-weight: 300;
}
@media (max-width: 600px) {
  .news-card-info {
    padding-left: 2.292em;
  }
  .news-card-info h1 {
    margin-top: 0.37em;
    font-size: 1.25em;
    font-weight: 500;
    line-height: 24px;
  }
  .news-card-info h2 {
    font-size: 1.25em;
  }
  .news-card-info h3 {
    font-size: 1.019em;
  }
  .news-card-info p {
    font-size: 1.019em;
    font-weight: 300;
  }
}
.news-image {
  width: 100%;
  margin-top: 1.8em;
  border: 1px solid #fff;
}
@media (max-width: 767px) {
  .news-image {
    display: block;
    margin: 0 auto 1.8em auto;
    width: 50%;
  }
}
.news-link {
  margin-top: 1.528em;
}
.news-link .multiple-links {
  margin-bottom: 0.679em;
}
.email,
.phone,
.press-releases {
  font-size: 1.875em;
  text-align: center;
  margin-bottom: 1.019em;
}
@media (max-width: 600px) {
  .email,
  .phone,
  .press-releases {
    font-size: 1.25em;
  }
}
.press-band {
  background: #000;
  color: #fff;
  padding-bottom: 5.158em;
}
.press-band h2 {
  font-size: 1.528em;
  text-align: center;
}
.press-band p {
  text-align: center;
  font-size: 0.833em;
  margin-bottom: 3.281em;
}
.press-band a {
  color: #fff;
}
.press-band a:hover {
  color: #fff;
  text-decoration: none;
}
.press-releases a {
  color: #ffe631;
}
.press-releases a:hover {
  color: #ffe631;
  border-bottom: 2px solid #ffe631;
}
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0px;
  height: 0;
  overflow: hidden;
  cursor: pointer;
}
.video-container iframe,
.video-container object,
.video-container embed,
.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.vid-pad {
  padding: 1.6em;
}
.vjs-default-skin .vjs-big-play-button {
  display: none;
}
.vjs-poster {
  display: none !important;
}
.ie-link {
  display: none;
}
.ie-link img {
  width: 100%;
}
.events-header {
  background: url("../images/h_events.jpg") no-repeat 0 0;
  background-size: cover;
  height: 350px;
}
@media (max-width: 600px) {
  .events-header {
    height: 220px;
  }
}
.watch-header {
  background: url("../images/h_medl_watch.jpg") no-repeat 0 0;
  background-size: cover;
  height: 350px;
}
@media (max-width: 600px) {
  .watch-header {
    height: 220px;
  }
}
.yes-no-radio {
  text-align: center;
}
.yes-no-radio input[type="radio"] {
  display: inline;
  width: 20px;
}
.yes-no-radio label {
  display: inline-block;
  margin-right: 1.6em;
}
.yes-no-radio p {
  font-size: 14px;
  font-weight: bold;
  padding-top: 1.6em;
}
.terms-watch {
  margin-top: 1.6em;
}
.terms-watch p {
  font-size: 12px;
}
.success-message-watch {
  display: none;
  padding: 1.6em 0;
  height: 900px;
  text-align: center;
}
.success-message {
  display: none;
  padding: 1.6em 0;
  height: 890px;
}
.ypsm-2-vid {
  padding: 1.6em 0;
}
#thanks-ypsm-download {
  display: none;
  top: 15px;
  font-size: 0.9em;
  position: absolute !important;
  border: 1px solid #008000;
  text-align: center;
  -webkit-border-radius: 0.36em;
  -moz-border-radius: 0.36em;
  border-radius: 0.36em;
  padding: 1em;
  width: 88%;
  background-color: #ccf7b3;
  color: #008000;
}
@media (max-width: 600px) {
  #thanks-ypsm-download {
    top: 24px;
  }
}
.main-form {
  width: 100%;
}
.main-form .parsley-required {
  padding-top: 0.5em;
}
.main-form input.parsley-error {
  background: none;
}
.main-form label {
  margin-top: 0.9em;
  padding-bottom: 0.3em;
  font-weight: bold;
  font-size: 14px;
}
.main-form input {
  width: 100%;
  border: 1px solid #c9c7c7;
  padding: 0.7em;
}
.main-form select.form-control {
  width: 100%;
  height: 40px;
  border: 1px solid #c9c7c7;
  padding: 2em !important;
}
.main-form textarea {
  width: 100% !important;
  border: 1px solid #c9c7c7 !important;
  padding: 0.7em !important;
}
.main-form button {
  margin: 1em auto;
  display: block;
  padding: 0.5em 1.6em;
  background: #fddb00;
  border: none;
  font-size: 27px;
  font-weight: 700;
}
@font-face {
  font-family: 'social-icons';
  src: url("fonts/social-icons.eot?56208046");
  src: url("fonts/social-icons.eot?56208046#iefix") format('embedded-opentype'), url("fonts/social-icons.woff?56208046") format('woff'), url("fonts/social-icons.ttf?56208046") format('truetype'), url("fonts/social-icons.svg?56208046#social-icons") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="fonticon-"]:before,
[class*=" fonticon-"]:before {
  color: #282828;
  font-family: "social-icons";
  font-style: normal;
  font-weight: 100;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1.4em;
  height: 1.4em;
  margin: 0 0.2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  font-size: 2.6em;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background: #494949;
}
.fonticon-facebook:before {
  content: '\e800';
}
.fonticon-twitter:before {
  content: '\e801';
}
.fonticon-youtube:before {
  content: '\e802';
}
.fonticon-linkedin:before {
  content: '\e803';
}
.social-block {
  margin-top: 4.875em;
  padding-left: 0.4em;
}
.ypsm-hero {
  background: url("../images/h_ypsm.jpg");
  background-size: cover;
}
.center-me {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.marketplace-delivers {
  padding: 3.439em 0;
  margin-bottom: 3.439em;
}
.marketplace-delivers h1 {
  display: inline-block;
  font-size: 2.292em;
  padding-bottom: 10px;
  border-bottom: 8px solid #ffe631;
  margin: 0 auto;
}
.marketplace-delivers p {
  font-size: 2.292em;
  padding-top: 1.019em;
}
.marketplace-delivers sup {
  font-size: 18px;
  margin-left: 2px;
  vertical-align: baseline;
  position: relative;
  top: -12px;
}
@media (max-width: 600px) {
  .marketplace-delivers {
    border-top: none;
    border-bottom: none;
    padding: 0.6em 0;
  }
  .marketplace-delivers h1 {
    font-size: 1.25em;
    margin-top: 0px;
  }
  .marketplace-delivers sup {
    top: 0;
  }
}
.bottom-article {
  padding-bottom: 8em;
}
@media (max-width: 600px) {
  .bottom-article {
    padding-bottom: 3em;
  }
}
.yspm-icon {
  width: 100%;
}
@media (max-width: 600px) {
  .yspm-icon {
    display: none;
  }
}
.ypsm-video {
  padding: 3.439em;
  background: #282828;
}
.ypsm-video p {
  text-align: center;
  width: 70%;
  font-weight: 100;
}
@media (max-width: 600px) {
  .ypsm-video {
    padding: 0;
  }
  .ypsm-video p {
    width: 90%;
  }
}
.faq {
  background: #000;
  color: #fff;
  text-align: center;
  display: block;
  padding: 3.439em 0;
}
.faq .faq-container {
  display: block;
  margin: 1em auto;
}
.faq h1 {
  display: inline-block;
  font-size: 3.281em;
  font-weight: 400;
  padding-bottom: 10px;
  border-bottom: 8px solid #ffe631;
}
.faq p {
  text-align: left;
  width: 66%;
  display: block;
}
.faq p.question {
  font-size: 1.8em;
  margin: 1em auto;
  padding-left: 29px;
  cursor: pointer;
  background: url("/images/ui/plus.png") 0px 11px no-repeat;
}
.faq p.minus {
  background: url("/images/ui/minus.png") 0px 11px no-repeat !important;
}
.faq p.answer {
  font-size: 1.25em;
  font-weight: 200;
  margin: 1.25em auto;
  padding-left: 29px;
  cursor: pointer;
}
.faq a {
  color: #fff;
}
@media (max-width: 600px) {
  .faq h1 {
    font-size: 1.25em;
    margin-top: 0px;
    display: inline-block;
  }
  .faq p {
    width: 75%;
  }
  .faq p.question {
    font-size: 0.833em;
    background: url("/images/ui/sm-plus.png") 0px 5px no-repeat;
    padding-left: 20px;
  }
  .faq p.answer {
    font-size: 0.833em;
    padding-left: 20px;
  }
  .faq p.minus {
    background: url("/images/ui/sm-minus.png") 0px 5px no-repeat !important;
  }
}
.contact-us-box {
  margin-bottom: 5em;
}
.mma-hero {
  background: url("../images/h_mma2015.jpg") no-repeat 0 0;
  background-size: cover;
  height: 350px;
}
@media (max-width: 600px) {
  .mma-hero {
    height: 220px;
  }
}
.acquisio-top {
  top: -16em;
}
@media (max-width: 600px) {
  .acquisio-top {
    top: -6em;
  }
}
.ypsm-acquisio-header {
  display: block;
  width: 100%;
  height: 100px;
}
@media (max-width: 600px) {
  .ypsm-acquisio-header {
    height: 50px;
  }
}
.ypsm-logo-acquisio-lp {
  width: 50%;
  padding-right: 2em;
  border-right: 1px solid #c0c0c0;
}
@media (max-width: 600px) {
  .ypsm-logo-acquisio-lp {
    margin-left: 1.6em;
  }
}
.acquisio-logo {
  width: 38%;
  margin-left: 2em;
}
@media (max-width: 600px) {
  .acquisio-logo {
    margin-left: 2em;
    width: 32%;
  }
}
@media (max-width: 600px) {
  .acquisio-vid-container {
    margin-top: 3em;
  }
}
.acquisio-vid-container p {
  font-size: 0.9em;
  line-height: 1.6em;
  margin: 1.6em 0;
}
.acquisio-top {
  top: -16em;
}
@media (max-width: 600px) {
  .acquisio-top {
    top: -6em;
  }
}
.location-accuracy-hero {
  background: url("../images/h_location-accuracy.jpg");
  background-size: cover;
}
.location-accuracy-bullets {
  font-size: 1.25em;
  margin: 1.6em 1.25em;
  padding: 0;
}
.location-accuracy-bullets li {
  line-height: 1.6em;
  margin-bottom: 1em;
}
@media (max-width: 600px) {
  .location-accuracy-bullets {
    font-size: 0.8em;
  }
}
.boldIt {
  font-weight: bold;
}
.location-insights-hero {
  background: url("../images/h_location-insights.jpg");
  background-size: cover;
}
.sundae-form {
  width: 100% !important;
  max-width: 510px;
}
.sundae-mania {
  background: url("../images/h_sundae.jpg");
  background-size: cover;
}
.sundae-icon {
  float: left;
  width: 30px;
  margin: 0 18px 0 10px;
  position: relative;
  top: -6px;
}
.sundae-radio {
  width: 100%;
  padding-top: 1em;
}
.sundae-radio .ss-choice-label {
  display: inline-block;
}
.sundae-radio span {
  display: inline-block;
  margin-right: 10px;
}
.sundae-radio label {
  width: 100%;
}
.ss-choice-label {
  font-weight: normal;
}
.radio-space {
  margin: 1.6em 0;
}
.parsley-custom-error-message {
  padding-top: 0.6em;
}
.ss-q-radio {
  border: none !important;
  width: auto !important;
  height: auto !important;
}
.adweek-top {
  top: -8em;
}
@media (max-width: 600px) {
  .adweek-top {
    top: -6em;
  }
}
.adweek-hero {
  background: url("../images/h_adweek.jpg");
  background-size: cover;
}
.adweek-hero h1 {
  top: 3em;
  display: table;
}
@media (max-width: 600px) {
  .adweek-hero {
    height: 240px;
  }
}
.adweek-map {
  width: 100%;
  margin: 1.6em 0;
  border: 1px solid #000;
}
@media (max-width: 600px) {
  .adweek-map {
    display: none;
  }
}
.adweek-form {
  margin-top: 3em;
  padding: 0 2.4em 2.4em 2.4em;
}
@media (max-width: 600px) {
  .adweek-form {
    padding: 0;
  }
}
.adweek-form button {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin-top: 1.6em;
  font-size: 1.6em;
}
.adweek-form h1 {
  font-size: 36px;
  display: block;
  text-align: center;
  padding-bottom: 0.2em;
  margin-bottom: 0.6em;
  border-bottom: 8px solid #ffe631;
}
@media (max-width: 600px) {
  .adweek-form h1 {
    font-size: 30px;
  }
}
.adweek-form p {
  font-size: 1em;
  line-height: 1.8em;
  padding-bottom: 1.8em;
}
.adweek-form h2 {
  font-size: 1.6em;
  margin-top: 2.4em;
  padding-bottom: 0.8em;
  border-bottom: 1px solid #c9c7c7;
  text-align: center;
}
.adweek-form label.label-name {
  font-size: 1.2em;
}
.event {
  margin-bottom: 1.6em;
  padding-bottom: 1.6em;
}
.event h3 {
  font-size: 1.4em;
  font-weight: bold;
}
.event h4 {
  font-size: 1em;
  font-weight: bold;
}
.event .event-description {
  margin-bottom: 1em;
  line-height: 1.8em;
  font-weight: 500;
}
.event .dtstart {
  font-style: italic;
}
.number-circle {
  display: inline-block;
  background: #ffe631;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  text-align: center;
  padding: 0.3em;
  box-sizing: border-box;
  font-size: 0.7em;
  font-weight: bold;
  border: 2px solid #000;
  line-height: 1em;
  float: left;
  margin: 0 0.8em 0 0;
}
.adweek-label {
  display: flex-box;
  font-weight: 100;
}
.adweek-label input[type="checkbox"] {
  width: 25px;
  float: left;
  display: inline-block;
}
.adweek-label span.label-text {
  float: left;
  width: 90%;
  display: inline-block;
}
@media (max-width: 600px) {
  .adweek-label span.label-text {
    width: 80%;
  }
}
.adweek-label input,
.adweek-label span {
  font-weight: 400;
  position: relative;
}
.look-forward h1 {
  text-align: center;
  font-size: 1.6em;
  line-height: 1.3em;
}
.look-forward p {
  text-align: center;
  font-size: 1em;
}
/* Modular Scale ---------------------- 45px @ 1:1.5	 940px @ 1:1.5	 ----------------------*/
/* Make Placeholder Text Fade Out On Focus Event */
[placeholder]:focus::-webkit-input-placeholder {
  -webkit-transition: opacity;
  -moz-transition: opacity;
  transition: opacity;
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}
/* Make Selection Text YP Yellow */
::-moz-selection {
  background: #fee600;
  color: #000;
}
::selection {
  background: #fee600;
  color: #000;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  color: #000;
  cursor: pointer;
}
a:hover {
  color: #000;
}
a:focus {
  color: #000;
}
html,
body {
  background: #fff;
  overflow-x: hidden;
  font: normal 100%;
}
.container {
  width: 900px;
  position: relative;
}
@media (max-width: 900px) {
  .container {
    width: auto;
    padding-right: 7px;
  }
}
@media (max-width: 600px) {
  .container {
    width: auto;
    padding-right: 11px;
  }
}
.header {
  background: rgba(255,255,255,0.95);
  height: 5.158em;
}
.icon-bar {
  background: #000;
}
.logo {
  width: 10.219em;
  margin-top: 1.2em;
}
@media (max-width: 767px) {
  .logo {
    margin-left: 1em;
  }
}
@media (max-width: 790px) {
  .logo {
    margin: 1.2em 1em 0 3.2em;
  }
}
@media (max-width: 600px) {
  .logo {
    margin-left: 1em;
  }
}
.navbar-default {
  background-color: #fff;
  border-color: #fff;
}
.navbar-default {
  background: transparent !important;
  border: none;
}
.navbar-toggle {
  margin: 1.4em 1.2em 0.6em 0em;
}
@media (max-width: 3000px) {
  .navbar-header {
    float: none;
    margin: 0;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    background: #fff;
    display: block;
    margin: 0;
    padding: 0;
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-nav {
    float: right !important;
    width: auto;
    margin: 0;
  }
  .navbar-nav>li {
    float: none;
    margin: 0 !important;
    padding: 0.3em;
  }
  .navbar-nav > li > a {
    padding: 10px 15px !important;
    background: #fff;
  }
  .nav-pills {
    margin-top: 10px;
  }
  .nav-pills li a {
    margin: 0 !important;
    text-align: center;
    float: none;
    border: 1px solid #000;
  }
}
.nav-list {
  display: none;
  background: #fff;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 72px;
  right: 35px;
  list-style: none;
  border-top: 1px solid #272822;
  width: 200px;
}
.nav-list li {
  background: #000;
  border-bottom: 1px solid #272822;
  border-left: 1px solid #272822;
  border-right: 1px solid #272822;
}
.nav-list li a {
  font-size: 1.25em;
  display: block;
  padding: 0.5em;
  text-decoration: none;
  width: 100%;
  color: #fff;
  -webkit-tap-highlight-color: #ffe631;
}
.nav-list li a:hover {
  background: #ffe631;
  color: #000;
}
.nav-list li a:active {
  background: #ffe631;
  color: #000;
}
.nav-list li.current > a {
  background: #fff;
  color: #000;
}
.nav-list #close-nav {
  display: block;
  text-align: right;
  color: #fff;
  padding: 0.3em 0.8em;
  font-weight: 100;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.6em;
  cursor: pointer;
}
.menu-button {
  float: right;
}
.menu-text {
  display: inline-block;
  margin-right: 8px;
  margin-top: 0px;
}
.burger {
  display: inline-block;
  position: relative;
  top: 1px;
}
.home-hero {
  display: block;
  background: #000 url("../images/h_home.jpg") no-repeat;
  background-size: cover;
  height: 350px;
  width: 100%;
}
.home-hero background-attachment scroll {
  background: position left top;
}
@media (max-width: 600px) {
  .home-hero {
    display: block;
    background: url("../images/h_home.jpg") no-repeat;
    background-size: cover;
    height: 190px;
    width: 100%;
  }
  .home-hero background-attachment scroll {
    background: position left top;
  }
}
@media (max-width: 600px) {
  .hero {
    height: 200px;
  }
}
.hero-header {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 0.453em;
  background: #000;
  color: #fff;
  font-size: 2.813em;
  font-weight: 200;
  text-align: center;
  line-height: 40px;
  position: relative;
  top: 165px;
  letter-spacing: 0px;
}
@media (max-width: 600px) {
  .hero-header {
    margin: 0 auto;
    padding: 0.165em;
    width: 90%;
    font-size: 1.25em;
    line-height: 1.2em;
    position: relative;
    top: 95px;
    background: rgba(0,0,0,0.8);
  }
}
.icon-nav {
  margin: 4.219em 0 0em 0;
}
.icon-nav a {
  color: #000;
  text-decoration: none;
  text-align: center;
}
.icon-nav a h2 {
  font-size: 2.292em;
  background: #ffe631;
  padding: 0.247em;
  width: 70%;
  margin: 0.679em auto;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.icon-nav a p {
  width: 80%;
  margin: 0 auto 2.813em auto;
  font-size: 1.25em;
}
.product-icon {
  display: block;
  margin: 0 auto;
  width: 75.5%;
}
@media (max-width: 767px) {
  .icon-nav a h2 {
    font-size: 2.292em;
  }
  .icon-nav a p {
    font-size: 1.019em;
  }
  .product-icon {
    width: 75.5%;
  }
}
@media (max-width: 600px) {
  .icon-nav {
    margin: 2.292em 0 0 0;
  }
  .icon-nav a h2 {
    margin-top: 0.679em;
    font-size: 1.25em;
    width: 100%;
  }
  .icon-nav a p {
    display: none;
  }
  .product-icon {
    width: 100%;
  }
}
.icon-container {
  display: block;
  min-height: 450px;
}
@media (max-width: 600px) {
  .icon-container {
    display: block;
    min-height: 170px;
  }
}
.p1 {
  display: none;
}
.p2 {
  display: none;
}
.p3 {
  display: none;
}
.hero-promo {
  display: block;
  background: url("../images/h_campaigns.jpg") no-repeat;
  background-size: cover;
  height: 520px;
}
.hero-promo-header {
  display: block;
  position: relative;
  top: 4em;
  width: 100%;
  padding: 1em;
  background: #000;
  color: #fff;
  font-size: 2.292em;
  line-height: 1.25em;
}
@media (max-width: 767px) {
  .hero-promo-header {
    font-size: 1.875em;
    width: 80%;
    margin: 20%;
  }
}
@media (max-width: 600px) {
  .hero-promo {
    height: 250px;
    position: relative;
  }
  .hero-promo-header {
    font-size: 1.528em;
    width: 100%;
    margin: 0;
    color: #000;
    background: rgba(255,255,255,0.8);
  }
}
.arrow {
  width: 0;
  height: 0;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-top: 50px solid #000;
  margin: 0 auto 4em auto;
}
.arrow-white {
  width: 0;
  height: 0;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-top: 50px solid #fff;
  margin: 0 auto 4em auto;
}
.arrow-gray {
  width: 0;
  height: 0;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-top: 50px solid #282828;
  margin: 0 auto 4em auto;
}
@media (max-width: 600px) {
  .arrow {
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 25px solid #000;
    margin: 0 auto 2.292em auto;
  }
  .arrow-white {
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 25px solid #fff;
    margin: 0 auto 2.292em auto;
  }
  .arrow-gray {
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 25px solid #282828;
    margin: 0 auto 2.292em auto;
  }
}
.big-stat {
  padding-top: 0em;
  color: #000;
  text-align: center;
}
.big-stat h1 {
  margin-top: 0.6em;
  font-size: 5.158em;
  font-weight: 800;
  letter-spacing: -2px;
}
.big-stat h2 {
  font-size: 2.813em;
  width: 70%;
  margin: 0 auto;
}
.big-stat sup {
  font-size: 18px;
  margin-left: 2px;
  vertical-align: baseline;
  position: relative;
  top: -12px;
}
@media (max-width: 600px) {
  .big-stat {
    margin: 0 0 2em 0;
  }
  .big-stat h1 {
    font-size: 3.439em;
  }
  .big-stat h2 {
    font-size: 1.25em;
    width: 90%;
  }
  .big-stat sup {
    font-size: 9px;
    margin-left: 2px;
    vertical-align: baseline;
    position: relative;
    top: -9px;
  }
}
.ipad-hero {
  margin-top: 5em;
  background: url("../images/ipad-finger.jpg") no-repeat;
  background-size: cover;
}
@media (max-width: 767px) {
  .ipad-hero {
    margin-top: 0;
    padding-bottom: 5em;
  }
}
.big-stat-blurb {
  margin: 5em 0;
  display: block;
  color: #fff;
  padding: 1em;
  background-color: #000;
  font-size: 2.292em;
  line-height: 1.25em;
  text-align: left;
  font-weight: 500;
}
.big-stat-blurb sup {
  font-size: 18px;
  margin-left: 2px;
  vertical-align: baseline;
  position: relative;
  top: -12px;
}
@media (max-width: 767px) {
  .big-stat-blurb {
    font-size: 1.875em;
    width: 80%;
    margin: 20%;
  }
}
@media (max-width: 600px) {
  .big-stat-blurb {
    font-size: 1.528em;
    width: 100%;
    margin: 5em 0 0 0;
    color: #000;
    background: rgba(255,255,255,0.8);
  }
  .big-stat-blurb sup {
    top: -6px;
  }
}
.sm-promo {
  display: block;
  padding: 5.158em 0;
  height: auto;
  background: #000 url("../images/sm-promo.png") no-repeat 87% 60%;
  background-size: 25%;
  color: #fff;
}
.sm-promo h1 {
  font-size: 3.439em;
  line-height: 45px;
}
.sm-promo p {
  margin: 2em 0;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  color: #a6a8ab;
}
.sm-promo sup {
  vertical-align: top;
  position: relative;
  top: 0.8em;
  font-size: 18px;
}
@media (min-width: 1200px) {
  .sm-promo {
    background: #000 url("../images/sm-promo.png") no-repeat 91% 70%;
    background-size: 30%;
  }
}
@media (max-width: 790px) {
  .sm-promo {
    padding: 5.158em 3em;
  }
}
@media (max-width: 767px) {
  .sm-promo {
    background: #000 url("../images/sm-promo.png") no-repeat 95% 55%;
    background-size: 25%;
  }
  .sm-promo padding,
  .sm-promo h1 {
    width: 70%;
  }
  .sm-promo p {
    width: 70%;
  }
  .sm-promo .learn-more {
    width: 27%;
  }
}
@media (max-width: 600px) {
  .sm-promo {
    padding: 1.25em 0 3.439em 0;
    background: #000;
  }
  .sm-promo h1 {
    width: 100%;
    font-size: 2.813em;
    padding: 0 1em;
  }
  .sm-promo p {
    width: 100%;
    font-size: 1.25em;
    line-height: 1.528em;
    padding: 0 2.2em;
  }
  .sm-promo .learn-more {
    width: 80%;
    margin: 0 auto;
  }
  .sm-promo span.yellow-line {
    line-height: 1em;
    padding-bottom: 0.453em;
  }
}
.yellow-line {
  display: inline-block;
  padding-bottom: 5px;
  line-height: 70px;
  border-bottom: 8px solid #ffe631;
}
.partners {
  text-align: center;
  padding: 0 0 8em 0;
}
.partners h1 {
  display: inline-block;
  font-size: 3.439em;
  padding-bottom: 10px;
  border-bottom: 8px solid #ffe631;
}
.partners p {
  font-size: 2.292em;
  padding-top: 1.019em;
}
.partners sup {
  font-size: 18px;
  margin-left: 2px;
  vertical-align: baseline;
  position: relative;
  top: -12px;
}
.partners img {
  margin-top: 5em;
  width: 100%;
}
@media (max-width: 790px) {
  .partners img {
    padding: 0 3em;
  }
}
@media (max-width: 600px) {
  .partners {
    padding: 0 2em 3em 2em;
  }
  .partners h1 {
    font-size: 2.813em;
    margin-top: 0px;
  }
  .partners p {
    font-size: 1.25em;
    padding-top: 1.019em;
  }
  .partners sup {
    font-size: 12px;
    top: -8px;
  }
  .partners br {
    display: none;
  }
  .partners img {
    margin-top: 1em;
    padding: 0;
  }
}
.contact-band {
  text-align: center;
  color: #fff;
  background-color: #282828;
  padding-bottom: 4em;
}
.contact-band h1 {
  display: inline-block;
  font-size: 3.281em;
  font-weight: 400;
  padding-bottom: 10px;
  border-bottom: 8px solid #ffe631;
}
@media (max-width: 600px) {
  .contact-band h1 {
    font-size: 2.292em;
    margin-top: 0px;
  }
}
.form-contact {
  margin: 4em auto;
}
.form-contact .form-checkbox .contact-check {
  display: inline-block;
  width: auto;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  appearance: checkbox;
  padding: 0px;
  margin: 0px;
}
.form-contact .form-checkbox label {
  font-size: 0.833em;
  display: inline;
}
.form-contact label {
  display: block;
  font-size: 1.89em;
  text-align: left;
  padding-left: 1em;
  font-weight: 300;
}
.form-contact input,
.form-contact textarea {
  display: block;
  width: 90%;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border: none;
  font-size: 1.875em;
  padding: 8px 16px;
  margin: 0 auto 0.8em auto;
}
.form-contact button {
  margin: 1.6em auto;
}
@media (max-width: 767px) {
  .form-contact {
    margin: 2em auto;
    width: 70%;
  }
}
@media (max-width: 600px) {
  .form-contact {
    margin: 2em auto;
    width: 100%;
  }
  .form-contact input,
  .form-contact textarea {
    font-size: 1.25em;
  }
  .form-contact label {
    font-size: 1.528em;
  }
}
.form-downloads label {
  display: block;
  font-size: 1.89em;
  text-align: left;
  padding-left: 1em;
  font-weight: 300;
}
.form-downloads input,
.form-downloads textarea {
  display: block;
  width: 90%;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border: none;
  font-size: 1.875em;
  padding: 8px 16px;
  margin: 0 auto 0.8em auto;
  border: 1px solid #c0c0c0;
}
.form-downloads button {
  margin: 1.6em auto;
  background-color: #ffe631;
  border: none;
  width: 60%;
  padding: 0.6em;
}
.form-downloads .form-checkbox {
  margin: 0 auto;
  width: 90%;
}
.form-downloads .form-checkbox .contact-check {
  display: inline-block;
  width: auto;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  appearance: checkbox;
  padding: 0px;
  margin: 0px;
}
.form-downloads .form-checkbox label {
  font-size: 0.833em;
  display: inline;
}
.modal-header {
  text-align: center;
}
ul.parsley-errors-list {
  margin: 0;
  padding: 0;
}
.parsley-errors-list {
  list-style: none;
  text-align: left;
  width: 90%;
  color: #f27272;
  font-size: 0.9em;
  padding: 0;
  margin: 0 auto;
  position: relative;
}
.footer {
  padding-top: 3em;
  height: auto;
  background-color: #000;
}
.footer .logo {
  width: 110px;
}
.footer ul {
  list-style: none;
}
.footer ul a {
  color: #fff;
}
.footer ul a:hover {
  background: none;
}
.footer .annotations {
  padding-top: 3em;
  color: #494949;
}
.footer .copywrite {
  padding: 2em 0;
}
.footer .copywrite a {
  color: #505050;
}
.footer p {
  text-align: center;
  font-size: 11px;
  margin: 0 0;
}
.footer-nav {
  margin: 0 auto 2em auto;
  padding: 0;
  display: table;
}
.footer-nav img {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-right: 1em;
}
.footer-nav ul {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.footer-nav ul li {
  display: inline-block;
  margin-right: 2em;
  font-size: 25px;
  font-weight: 300;
  color: #fff;
}
@media (max-width: 767px) {
  .footer-nav {
    width: 285px;
  }
  .footer-nav img {
    width: 90px;
    height: 90px;
    display: block;
    margin: 0 auto;
  }
  .footer-nav ul {
    display: block;
    width: 100%;
  }
  .footer-nav ul li {
    display: block;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    font-size: 15px;
  }
}
.ypms-footer-logo {
  width: 10.219em !important;
}
.yp-links ul {
  margin: 0 auto;
  padding: 0;
  width: 680px;
  text-align: center;
  list-style: none;
}
.yp-links ul li {
  display: inline-block;
  text-align: center;
  margin: 0;
  padding: 0;
}
.yp-links ul li a {
  margin: 0;
  padding: 0;
  color: #afafaf;
}
.yp-links ul li span {
  display: inline-block;
  margin: 0 10px 0 14px;
}
@media (max-width: 767px) {
  .yp-links ul {
    width: auto;
    text-align: left;
  }
  .yp-links ul li {
    display: block;
    margin-bottom: 1em;
  }
  .yp-links ul li span {
    display: none;
  }
}
