border-radius(n)
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n

support-for-ie ?= true
    opacity(n)
      opacity n
      if support-for-ie
        filter unquote('progid:DXImageTransform.Microsoft.Alpha(Opacity=' + round(n * 100) + ')')

transition(n)
  -webkit-transition n
  -moz-transition n
  transition n