.mobile-hero
	background url('../images/h_mobile.jpg')
	background-size cover

.video-container
	position relative
	padding-bottom 56.25%
	padding-top 0px
	height 0
	overflow hidden;
 
.video-container iframe, .video-container object, .video-container embed 
	position absolute
	top 0
	left 0
	width 100%
	height 100%

.emt-video
	margin 1.875em 0 0 0
	padding 0
	@media (max-width mobile-width)
		margin 1.875em 2.3em 0 2.3em
		padding 0

.labs-article
	background url('../images/h_labs.png') no-repeat 0 0
	background-size cover
	height 350px
	@media (max-width mobile-width)
		background url('../images/hm_labs.png') no-repeat 0 0
		height 150px


.mobile-product .product-bullets
	margin-top 3em