.labs-hero
	background url('../images/h_labs.png') no-repeat 0 0
	background-size cover
	height 350px
	@media (max-width mobile-width)
		height 220px

.labs-article-optimization
	background url('../images/h_labs_optimization.jpg') no-repeat 0 0
	background-size cover
	height 350px
	@media (max-width mobile-width)
		background url('../images/hm_labs_optimization.jpg') no-repeat 0 0
		height 150px

.labs-article-agencies
	background url('../images/h_labs_agencies.jpg') no-repeat 0 0
	background-size cover
	height 350px
	@media (max-width mobile-width)
		background url('../images/hm_labs_agencies.jpg') no-repeat 0 0
		height 150px

.labs-article-macrosense
	background url('../images/h_labs_macrosense.jpg') no-repeat 0 0
	background-size cover
	height 350px
	@media (max-width mobile-width)
		background url('../images/hm_labs_macrosense.jpg') no-repeat 0 0
		height 150px

.nerd-alert
	width 70%
	@media (max-width mobile-width)
		display none

.video-block
	padding 0 0 2.813em 0
	h2
		color white
		text-align center
		font-size 3.281em
		padding 0 3.281em
	h3
		color white
		font-size 2.292em
		width 90%
		margin 0 auto 0.833em auto
	.video-container
		margin 0 0
	p
		color white
		font-size 1.4em
		line-height: 1.8em
		width 90%
		margin 0 auto 1.25em auto
	@media (max-width mobile-width)
		h2
			padding 0.833em 0 0 0 
			font-size 1.8em
			line-height 1.25em
		p
			font-size .99em
			line-height: 1.7em;
			font-weight 200
		.video-container
			margin 2.292em 0

.labs-vid
	background #282828

.dr-video
	margin 3.439em 0

.mission-bullets
	ul
		list-style none
		margin-left 0
		padding-left 30px
		text-indent -30px
		margin-top 1.019em
	li
		padding-left 1em
		margin-bottom .6em
	.yellow-bullet
		width 16px!important
		height 16px
		display inline-block!important
		margin-right 15px
	@media(max-width tablet-width)
		padding 0 3.439em	
	@media(max-width mobile-width)
		ul
			font-size 1.019em
			margin-left 1em
			width 95%
		li
			padding-left 0
			margin-bottom 1.2em
			margin-right 1.2em
		.yellow-bullet
			width 12px!important
			height 12px!important
			display inline-block!important
			margin-right 15px