.top-story
	background black
	.news-card
		border-bottom none
		color white
		padding 2em 4em 2em 2em
		a
			color white			
			&:hover
				color white
				border-color white

.news-header
	background url('../images/h_news.jpg') no-repeat 0 0
	background-size cover
	height 350px
	@media (max-width mobile-width)
		height 220px

.news-card
	border-bottom 2px solid #E6E7E8
	margin 0.833em 0 2.292em 0
	padding 0 4em 4em 2em
	width 98%
	a
		color black
		font-weight 900
		font-size 1.528em
		&:hover
			color black
			text-decoration none
			border-bottom 1px solid black
	@media (max-width mobile-width)
		padding 0 0 4em 0
		a
			font-size 1.019em

.last-card
	border-bottom none

.news-card-info
	padding-left 3.439em
	h1
		font-size 2.813em
		font-weight 500
		line-height 50px
	p
		font-size 1.528em
		font-weight 300	

	@media(max-width mobile-width)
		padding-left 2.292em
		h1
			margin-top .37em
			font-size 1.25em
			font-weight 500
			line-height 24px
		h2
			font-size 1.25em
		h3
			font-size 1.019em
		p
			font-size 1.019em
			font-weight 300

.news-image
	width 100%
	margin-top 1.8em
	border 1px solid white
	@media(max-width tablet-width)
		display block
		margin 0 auto 1.8em auto
		width 50%

.news-link
	margin-top 1.528em
	.multiple-links
		margin-bottom 0.679em

.email, .phone, .press-releases
	font-size 1.875em
	text-align center
	margin-bottom 1.019em
	@media(max-width mobile-width)
		font-size 1.25em
.press-band
	background black
	color white
	padding-bottom 5.158em
	h2
		font-size 1.528em
		text-align center
	p
		text-align center
		font-size 0.833em
		margin-bottom 3.281em
	a
		color white
		&:hover
			color white
			text-decoration none

.press-releases a
	color yp-yellow
	&:hover
		color yp-yellow
		border-bottom 2px solid yp-yellow



.video-container 
	position relative
	padding-bottom 56.25%
	padding-top 0px
	height 0
	overflow hidden
	cursor pointer

.video-container iframe, .video-container object, .video-container embed, .video-container video 
	position absolute
	top 0
	left 0
	width 100%
	height 100% 

.vid-pad
	padding 1.6em

.vjs-default-skin .vjs-big-play-button
	display none
.vjs-poster
	display none!important
.ie-link
	display none
	img 
		width 100%

