/* Product Styles For Home Page */

.product-overview
	padding-top 0em
	height auto
	color white
	background-size cover
	h1
		margin-top 1.875em
		font-size 3.439em
		margin-bottom 0.833em
	p
		font-size 1.528em
		line-height 1.528em
		font-weight 100
	img
			width 100%
			margin 0 auto
			display block
	.gray-lines
		margin 1.8em auto 0 auto
		float left
		width 100%
		height 1px

.back-to-top
	color gray
	display block
	position relative
	float right
	font-size 16px
	font-weight 100
	margin 1.9em 1.6em 0 0
	&:hover
		text-decoration none
		color silver
	.glyphicon-chevron-up 
		font-size 15px
		margin-left 5px

@media (max-width tablet-width)
	.back-to-top
		display none

@media (max-width tablet-width)
	.product-overview
		padding-top 0em
		height auto
		color white
		background-size cover
		h1
			margin-top 0em
			font-size 3.439em
			margin-bottom 0.833em
			text-align center
		p
			font-size 1.528em
			line-height 1.528em
			font-weight 100
			text-align center
			padding 0 2em
		img
			width 70%
			margin 0 auto
			display block
		span
			margin .6em 0 0 0
		.gray-lines
			display none

@media (max-width 790px)
	.product-overview
		padding 0 3em


@media (max-width mobile-width)
	.product-overview
		padding 0
		height auto
		color white
		background-size cover
		h1
			margin-top 0em
			font-size 3.439em
			margin-bottom 0.833em
			text-align center
		p
			font-size 1.019em
			line-height 1.875em
			font-weight 300
			text-align center
			padding 0 1em
		img
			display none

.product-mobile
	padding-top 4em
	background url('../images/bg_product_mobile.jpg') no-repeat fixed 0 0
	background-size cover
	@media (max-width 790px)
		background #181818 url('../images/bg_product_mobile_grd.jpg') no-repeat
	    background-repeat no-repeat
	    background-attachment fixed
	    background-size  cover


.product-display
	background url('../images/bg_product_search.jpg') no-repeat fixed 0 0
	background-size cover
	@media (max-width 790px)
		background #181818 url('../images/bg_product_search_grd.jpg') no-repeat
	    background-repeat no-repeat
	    background-attachment fixed
	    background-size  cover
	.stat-box
		margin-top 100px
	@media (max-width 800px)
		.stat-box
			margin-top 30px


.product-search
	background url('../images/bg_product_display.jpg') no-repeat fixed 0 0
	background-size cover
	@media (max-width 790px)
		background #181818 url('../images/bg_product_display_grd.jpg') no-repeat
	    background-repeat no-repeat
	    background-attachment fixed
	    background-size  cover
	.stat-box
		font-size 9px
		margin-top 30px

.stat-box	
	padding 2em
	margin-top 5.158em
	color black
	background white
	width 100%
	h1
		font-size 69px
		margin 0
	h2
		font-size 20px
		margin 0 0 .6em 0
		line-height 28px
	sup
		font-size 18px
		margin-left 2px
		vertical-align baseline
		position relative
		top -12px
	@media (max-width tablet-width)
		padding 2em
		margin 5.158em auto 0 auto
		color black
		background white
		width 35%
		h1
			font-size 69px
			margin 0
			text-align left
		h2
			font-size 20px
			margin 0 0 .6em 0
			line-height 34px
		br
			display none
	@media (max-width 790px)
		width 90%
		h1
			font-size 50px
		h2
			font-size 12px
			line-height 20px
		sup
			font-size 9px
			margin-left 2px
			vertical-align baseline
			position relative
			top -5px
	@media (max-width 767px)
		width 40%
		h1
			font-size 69px
		h2
			font-size 20px
			line-height 20px			
	@media (max-width mobile-width)
		padding 2em
		margin 0 auto 0 auto		
		width 220px
		h2
			line-height 1.4em
		br
			display none

.product-description
	margin-bottom 0em
	
.learn-more-block
	display block
	margin 2.6em 0 .8em 0
	text-align center
.learn-more-link
	color yp-yellow
	&:hover, &:active, &:focus
		color yp-yellow
	@media (max-width mobile-width)
		font-size 12px

.home-product-list
	list-style none
	display block
	li
		display inline-block
		vertical-align top
		width 32%
		text-align center
		font-size 1.1em
		padding 0
	a
		color white
		&:hover
			color white
	.white-square
		margin-right 5px
		position relative
		top -1px
	@media (max-width 790px)
		li
			font-size 1em
	@media (max-width mobile-width)
		li
			display block
			width 83%
			margin-bottom .5em
		.white-square
			display inline-block

.product-stats
	margin 7em 0 10em 0
	@media (max-width mobile-width)
		margin 2em 0 10em 0	

.get-started-box
	margin-bottom 10em

@media (max-width tablet-width)
	.product-description
		margin-bottom 2em
	.product-stats
		margin-bottom 5em
	.get-started-box
		margin-bottom 5em

.yellow-square
	display inline-block
	background yp-yellow
	width 20px	
	height 20px
	margin-right 10px

.yellow-square-last
	display inline-block
	background yp-yellow
	width 20px	
	height 20px
	margin-right 8px

.product-article
	padding 1.25em 3.439em
	background white
	position relative
	top -3em
	h1
		font-size 2.292em
		letter-spacing -1px
		line-height 42px
	p
		font-size 1.4em
		line-height 1.8em
	a
		color black
		font-weight bold
		&:hover
			color black
	@media (max-width mobile-width)
		padding 0.165em 1.019em
		margin-bottom 0
		h1
			font-size 1.528em
			line-height 1.2em
			
		p
			font-size 1.019em
			line-height 1.7em

.product-article-no-bg
	padding 1.25em 3.439em
	background white
	position relative
	h1
		font-size 2.292em
		letter-spacing -1px
	p
		font-size 1.4em
		line-height 1.8em
	a
		color black
		font-weight bold
		&:hover
			color black
	@media (max-width mobile-width)
		padding 0.165em 1.019em
		margin-bottom 0
		h1
			font-size 1.528em
			margin-left 20px
		p
			font-size 1.019em
			line-height 1.7em
			margin-left 20px

.product-shot
	width 85%
	display block
	margin 0 auto

.product-points
	margin-bottom 4em
	h2
		border-bottom 4px solid yp-yellow
		display inline-block
	ul
		font-size 1.25em
		margin 0
		padding 0.556em 1.25em
		li
			margin 0 0 0.556em 0
	@media (max-width mobile-width)
		h1
			margin 0 auto
		h2
			font-size 1.528em
		ul
			font-size 1.019em

.stat-block
	background black
	color white
	text-align center
	padding 3.439em 0 5.158em 0
	h2
		font-size 4.219em
	p
		font-size 1.875em
		width 50%
		margin 0 auto
	sup
		font-size 60%
		line-height 1.875em
		padding-left 2px
	@media (max-width mobile-width)
		padding .8em 0 2em 0
		h2
			font-size 2.813em
		p
			font-size 1.019em
			width 80%

