.product-page-hero
	display block
	height 350px
	width 100%
	h1
		background black
		color white
		display inline-block
		position relative
		top 4.219em
		padding 0.37em 0.833em
		font-weight 400
	@media (max-width 790px)
		h1
			margin-left 1em
	@media (max-width mobile-width)
		height 220px
		h1
			top 3.8em
			left 15px
			font-size 1.5em
			margin-left 0
			margin-right 31px
			
@media (max-width mobile-width)
	.product-bullets
		padding 0 3em 0 3em

.product-link-block
	background black
	color white
	text-align center
	padding 3.439em 0 5.158em 0
	h2
		font-size 4.219em
		margin 0.37em 0 1.25em 0
	a
		color white
		&:hover
			text-decoration none
			color white
	@media(max-width mobile-width)
		h2
			font-size 2.292em

.product-icon-links
	display block
	margin 0 auto
	width 60%
	@media(max-width mobile-width)
		display block
		margin 0 auto
		width 30%

.product-icon-overview
	width 100%
	@media(max-width mobile-width)
		display none


.product-text
	display block
	width 100%
	font-size 1.528em
	font-weight 100
	text-align center
	padding 1.25em 0
	@media(max-width mobile-width)
		padding .37em 0
		margin-bottom 2.292em

.product-card
	border 17px solid #E6E7E8
	margin 0.833em 0 6.328em 0
	padding 7.737em 6.328em
	width 98%
	img
		width 100%
	@media(max-width mobile-width)
		border 5px solid #E6E7E8
		margin 0.833em 0 2.292em 0
		padding 1.875em 1.019em	
		img
			display none

.product-card-info
	padding-left 3.439em
	h1
		font-size 2.813em
		font-weight 500
	p
		font-size 1.528em
		font-weight 300	
	a
		font-weight bold
		color black
		&:hover
			color black
	@media(max-width mobile-width)
		padding-left 2.292em
		h1
			margin-top .37em
			font-size 1.875em
			font-weight 500
		p
			font-size 1.019em
			font-weight 300	

.gray-line-product
	border-top 2px solid #E6E7E8
	margin-top 3.439em
	@media(max-width mobile-width)
		display none

.product-card-bullets
	ul
		list-style none
		margin-left 0
		padding-left 30px
		text-indent -30px
		margin-top 1.875em
		font-size 1.528em
	li
		padding-left 1em
		margin-bottom .6em
	.yellow-bullet
		width 16px!important
		height 16px
		display inline-block!important
		margin-right 15px	
	@media(max-width mobile-width)
		ul
			font-size 1.019em
			margin-left 1em
			width 95%
		li
			padding-left 0
			margin-bottom 1.2em
			margin-right 1.2em
		.yellow-bullet
			width 12px!important
			height 12px!important
			display inline-block!important
			margin-right 15px
