.search-hero
	background url('../images/h_search.jpg')
	background-size cover

.search-article-1
	background url('../images/h_local_performance.jpg') no-repeat 0 0
	background-size cover
	height 350px
	@media (max-width mobile-width)
		background url('../images/h_local_performance_mobile.jpg') no-repeat 0 0
		height 150px

.search-article-2
	background url('../images/h_local_level.jpg') no-repeat 0 0
	background-size cover
	height 350px
	@media (max-width mobile-width)
		background url('../images/h_local_level_mobile.jpg') no-repeat 0 0
		height 150px
