.ypsm-hero
	background url('../images/h_ypsm.jpg')
	background-size cover
.center-me
	display block
	margin 0 auto
	text-align center
.marketplace-delivers
	padding 3.439em 0
	margin-bottom 3.439em
	h1
		display inline-block
		font-size 2.292em
		padding-bottom 10px
		border-bottom 8px solid yp-yellow
		margin 0 auto
	p
		font-size 2.292em
		padding-top 1.019em
	sup
			font-size 18px
			margin-left 2px
			vertical-align baseline
			position relative
			top -12px	
	@media (max-width mobile-width)
		border-top none
		border-bottom none
		padding .6em 0
		h1
			font-size 1.25em
			margin-top 0px
		sup
			top 0

.bottom-article
	padding-bottom 8em
	@media (max-width mobile-width)
		padding-bottom 3em

.yspm-icon
	width 100%
	@media (max-width mobile-width)
		display none

.ypsm-video
	padding 3.439em
	background #282828
	p
		text-align center
		width 70%
		font-weight 100
	@media (max-width mobile-width)
		padding 0
		p
			width 90%

.faq
	background black
	color white
	text-align center
	display block
	padding 3.439em 0
	.faq-container		
		display block
		margin 1em auto
	h1
		display inline-block
		font-size 3.281em
		font-weight 400
		padding-bottom 10px
		border-bottom 8px solid yp-yellow
	p
		text-align left
		width 66%
		display block		
	p.question
		font-size 1.8em
		margin 1em auto
		padding-left  29px
		cursor pointer
		background url('/images/ui/plus.png') 0px 11px no-repeat
	p.minus
		background url('/images/ui/minus.png') 0px 11px no-repeat !important
	p.answer
		font-size 1.25em
		font-weight 200
		margin 1.25em auto
		padding-left 29px
		cursor pointer
	a
		color white
	@media (max-width mobile-width)
		h1
			font-size 1.25em
			margin-top 0px
			display inline-block
		p
			width 75%
		p.question
			font-size .833em
			background url('/images/ui/sm-plus.png') 0px 5px no-repeat
			padding-left 20px
		p.answer
			font-size .833em
			padding-left 20px
		p.minus
			background url('/images/ui/sm-minus.png') 0px 5px no-repeat !important
			
.contact-us-box
	margin-bottom 5em
