@font-face
  font-family 'social-icons'
  src url('fonts/social-icons.eot?56208046')
  src url('fonts/social-icons.eot?56208046#iefix') format('embedded-opentype'),
       url('fonts/social-icons.woff?56208046') format('woff'),
       url('fonts/social-icons.ttf?56208046') format('truetype'),
       url('fonts/social-icons.svg?56208046#social-icons') format('svg')
  font-weight normal
  font-style normal

[class^="fonticon-"]:before, [class*=" fonticon-"]:before
  color #282828
  font-family "social-icons"
  font-style normal
  font-weight 100
  speak none
  display inline-block
  text-decoration inherit
  width 1.4em
  height 1.4em
  margin 0 .2em
  text-align center
  font-variant normal
  text-transform none
  font-size 2.6em
  border-radius 100%
  background #494949 

.fonticon-facebook
  &:before
    content '\e800'   

.fonticon-twitter
  &:before
    content '\e801'

.fonticon-youtube
  &:before
    content '\e802'

.fonticon-linkedin
  &:before
    content '\e803'

.social-block
  margin-top 4.875em
  padding-left 0.4em