


.sundae-form
	width 100%!important
	max-width 510px

.sundae-mania
	background url('../images/h_sundae.jpg')
	background-size cover

.sundae-icon
	float left
	width 30px
	margin 0 18px 0 10px
	position relative
	top -6px

.sundae-radio
	width 100%
	padding-top 1em
	.ss-choice-label
		display inline-block
	span
		display inline-block
		margin-right 10px
	label
		width 100%
.ss-choice-label
	font-weight normal

.radio-space
	margin 1.6em 0

.parsley-custom-error-message 
	padding-top .6em

.ss-q-radio
	border none!important
	width auto!important
	height auto!important
	