.home-testimonial
	padding 8em 0
	height auto
	background black
	color white
	text-align center	
	.testimonial
		z-index 1
		position relative
		display inline-block
		border none
		font-size 2.813em
		line-height 1.25em
		margin-bottom 0px
		padding 0 .556em
		width 90%
		&:before
			display inline-block
			position relative
			top -10px
			right -28px
			background url('../images/open-quote.png')
			width 58px
			height 54px
			z-index -1
		&:after
			display inline-block
			position relative
			bottom -20px
			left -28px
			background url('../images/close-quote.png')
			width 58px
			height 54px
			margin-top -20px
			z-index -1
	cite
		display inline-block
		letter-spacing 1px
		padding-top 2em
		font-size 1.528em
		font-weight 100
	@media (max-width tablet-width)
		padding 4em 0
		.testimonial
			font-size 1.875em
			&:before
				top -5px
				right -18px
				background url('../images/open-quote-md.png') no-repeat
				width 38px
				height 35px
			&:after
				bottom -11px
				left -18px
				background url('../images/close-quote-md.png') no-repeat
				width 38px
				height 35px
				margin-top -20px
		cite
			font-size 1.25em	
	@media (max-width mobile-width)
		padding 4em 0
		.testimonial
			width 95%
			font-size 1.25em
			&:before
				top -5px
				right -18px
				background url('../images/open-quote-md.png') no-repeat
				width 38px
				height 35px
			&:after
				bottom -11px
				left -18px
				background url('../images/close-quote-md.png') no-repeat
				width 38px
				height 35px
				margin-top -20px
		cite
			font-size 0.833em	
		.testimonial-noquotes
			font-size 1.25em
			width 80%
			cite
				font-size 0.833em