.watch-header
	background url('../images/h_medl_watch.jpg') no-repeat 0 0
	background-size cover
	height 350px
	@media (max-width mobile-width)
		height 220px

.yes-no-radio
	text-align center
	input[type="radio"]
		display inline
		width 20px
	label
		display inline-block
		margin-right 1.6em
	p
		font-size 14px
		font-weight bold
		padding-top 1.6em
		
.terms-watch
	margin-top 1.6em
	p
		font-size 12px
		
.success-message-watch
	display none
	padding 1.6em 0
	height 900px
	text-align center