.ypsmvid-top
	margin-top -16em
	@media (max-width 600px)
		margin-top  -6em

.success-message
	display none
	padding 1.6em 0
	height 890px
	
.ypsm-2-vid
	padding 1.6em 0

.consumer-journey-zigzag
	p
		font-size 1.2em
		line-height 1.4em
	

#thanks-ypsm-download
	position relative
	z-index 9
	display none
	top 77px
	font-size .9em
	border 1px solid green
	text-align center
	border-radius .36em
	padding 1em
	width  90%
	margin 0 auto
	background-color #ccf7b3
	color green
	@media (max-width 600px)
		top 80px