/*
 * These are general overrides to basic styles
 * 
 */
 /*  Custom fonts
*/
@font-face {
  font-family: 'AkzidenzGroteskBE';
  src: url("fonts/AkzidenzGroteskBE-Regular.eot");
  src: url("fonts/AkzidenzGroteskBE-Regular-.eot#iefix") format("embedded-opentype"), url("fonts/AkzidenzGroteskBE-Regular.woff") format("woff"), url("fonts/AkzidenzGroteskBE-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'AkzidenzGroteskBE';
  src: url("fonts/AkzidenzGroteskBE-Md.eot");
  src: url("fonts/AkzidenzGroteskBE-Md-.eot#iefix") format("embedded-opentype"), url("fonts/AkzidenzGroteskBE-Md.woff") format("woff"), url("fonts/AkzidenzGroteskBE-Md.ttf") format("truetype");
  font-weight: bold;
  font-style: bold; }
/*  (end) Custom fonts
*/
/**-----parsley------**/
input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6; }

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  background-color: #F2DEDE;
  border: 1px solid #EED3D7; }

.parsley-errors-list {
  margin: 2px 0 3px 0;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;
  -moz-opacity: 0;
  -webkit-opacity: 0;
  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in-;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in; }

.parsley-errors-list.filled {
  opacity: 1; }

.validate {
  margin-top: 10px; }

h4 {
  margin-bottom: 10px; }

.invalid-form-error-message {
  margin-top: 10px;
  padding: 5px; }

.invalid-form-error-message.filled {
  border-left: 2px solid red; }

p.parsley-success {
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6; }

p.parsley-error {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7; }

/**-----------**/
.iab-promo img {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 15px; }

.logo-a {
  left: -120px;
  max-width: 100%;
  position: relative;
  top: -80px;
  width: 300px;
  z-index: 100; }

.glyphicon {
  top: 1px; }

.glyphicon-circle-arrow-down {
  font-size: 12px; }

body {
  background-color: #000;
  color: #000;
  font-family: "AkzidenzGroteskBE", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.42857; }

body.front {
  background-color: #000; }

body.navbar-is-fixed-top {
  padding-top: 45px; }

body.not-logged-in.page-user {
  background: #EEE; }

.front .main-left .col-sm-3 {
  width: 20%;
  padding-top: 6%; }

.front .main-left .col-sm-9 {
  width: 80%;
  padding-top: 5%; }

.main-left {
  background-color: #FFF;
  padding: 15px; }

.main-right {
  background-color: #FFF;
  /*  padding-right: 30px; */
  padding-top: 30px; }

.main-right h2.block-title {
  margin-top: 0;
  margin-bottom: 15px;
  line-height: 26px;
  color: #000;
  font-weight: bold;
  font-size: 24px; }

.main-left .col-xs-9 sup {
  top: -2em; }

.main-left .col-xs-9 {
  padding-left: 20px; }

.main-left sup {
  top: -1em; }

.main-left .bullets sup {
  top: -1em;
  font-size: 8px; }

sup {
  font-size: x-small; }

/*
*NAVBAR
*/
.bottom-contact-info {
  padding-right: 18px;
  color: #999; }

.bottom-contact-info li a {
  color: #999; }

.pad {
  font-weight: normal;
  padding: 4px; }

.navbar {
  border-radius: 4;
  margin-bottom: 10px;
  min-height: 20px; }

.navbar-default {
  background-color: #000;
  border-color: #000;
  border: none; }

.navbar-default .navbar-nav > li > a {
  color: #EEE;
  font-size: 14px; }

.navbar-default .navbar-nav > li {
  font-size: 12px; }

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background-color: #333;
  color: #FFF; }

.navbar-nav > li > a {
  padding: 5px 30px; }

.bottom-navigation .navbar-nav > li > a {
  padding: 0;
  margin-right: 30px; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: #FFF;
  color: #000; }

.bottom-navigation .navbar-nav .active a {
  color: #FFDC00; }

.navbar-nav > .active a {
  color: #000; }

.navbar-nav {
  float: right;
  clear: both; }

.labs-nav::before {
  background: #FFF;
  width: 3000px;
  float: right;
  display: block;
  height: 31px;
  position: absolute;
  left: 0;
  border-bottom: 1px solid black; }

.labs-nav {
  float: right;
  width: 560px; }

.labs-nav li.active > a {
  font-weight: bold; }

.labs-nav li.active > a:hover {
  background: none !important; }

.labs-nav > li > a {
  color: #000 !important;
  text-align: center;
  padding: 5px 14px;
  margin: 0px;
  display: block; }

.labs-nav > li > a:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #F0F0F0));
  background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #F0F0F0 100%);
  background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #F0F0F0 100%);
  background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #F0F0F0 100%);
  background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #F0F0F0 100%);
  background-image: linear-gradient(to bottom, #FFFFFF 0%, #F0F0F0 100%); }

.mobile-secondary-nav {
  display: none; }

.login-button {
  border: 1px solid white;
  margin-top: 3px;
  padding: 1px 10px !important; }

.bottom-nav .menu {
  float: left; }

.subnav-bottom .navbar-nav li > a:hover {
  color: #FFF;
  background-color: transparent; }

.subnav-bottom .menu {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  text-align: center; }

.subnav-bottom .menu li a {
  color: #999; }

.subnav-bottom {
  border-top: solid #333 1px;
  margin-top: 10px; }

.subnav-bottom .menu > li > a {
  padding: 4px;
  margin-right: 15px; }

.subnav-bottom, .nav-bottom {
  font-weight: bold; }

.bottom-nav {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px; }

.bottom-nav .bottom-contact-info {
  float: right;
  clear: none; }

/**
*** MISC ***
**/
#player {
  max-width: 100%; }

.main-container .callout {
  /*  height: 170px; */
  border-bottom: 1px solid #EEE;
  font-size: 18px;
  line-height: 24px; }

.front .main-container .callout img {
  max-width: 100%; }

.main-container .callout img {
  max-height: 110px; }

.main-container .callout h2 {
  font-size: 28px;
  margin-top: 5px;
  margin-bottom: 5px; }

a {
  color: #000;
  cursor: pointer; }

.stats img {
  width: 100%; }

.stats {
  background-color: #333; }

.callout .col-sm-12 {
  background-position: 20px 30px;
  background-repeat: no-repeat;
  min-height: 160px;
  padding-left: 135px;
  padding-top: 6%;
  padding-right: 20px; }

.callout.mobile .col-sm-12 {
  background-image: url("http://national.yp.com/sites/all/themes/bootstrap/bs_national_site/images/callout_icons-01.png"); }

.callout.search .col-sm-12 {
  background-image: url("http://national.yp.com/sites/all/themes/bootstrap/bs_national_site/images/callout_icons-02.png"); }

.callout.display .col-sm-12 {
  background-image: url("http://national.yp.com/sites/all/themes/bootstrap/bs_national_site/images/callout_icons-03.png"); }

.stats-box {
  background-color: #FFDC00; }

.bottom-right {
  background-color: #FFF; }

.row.testimonial .col-sm-8 {
  background-color: #FFF; }

.row.testimonial .col-sm-4 {
  background-color: #EEE; }

.row.testimonial {
  background-color: #FFF; }

ul.bgControls li.prev {
  left: 0; }

ul.bgControls li.next {
  right: 0; }

ul.bgControls li {
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
  height: 100px;
  position: absolute;
  top: 195px;
  width: 15px;
  z-index: 99; }

ul.bgControls li.prev a {
  background-image: url("http://national.yp.com/sites/all/themes/bootstrap/bs_national_site/img/arrow_large_white_left.png"); }

ul.bgControls li a {
  background: none no-repeat scroll center center transparent;
  color: #FFFFFF;
  display: block;
  height: 100px;
  width: 15px; }

.carousel {
  z-index: -1000;
  position: absolute;
  top: 30px;
  width: 100%; }

.bg-image img {
  position: absolute;
  z-index: -100;
  width: 100%;
  left: 0;
  top: 30px; }

.bg-image {
  overflow: hidden; }

.hero-padding {
  margin-top: 40px; }

.testimonial .bottom-left {
  font-size: 22px;
  line-height: 24px;
  padding: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: bold; }

.testimonial .bottom-right {
  background-image: url("../images/logo_mapquest-01.svg");
  background-repeat: no-repeat;
  background-position: 15px 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 140px;
  padding-right: 15px;
  height: 180px; }

.node-lead-form .form-control {
  background-color: #FFF;
  background-image: none;
  border: 1px solid #FFF;
  border-radius: 0;
  box-shadow: none;
  color: #000;
  display: block;
  font-size: 14px;
  height: 32px;
  /*    line-height: 1.42857; */
  padding: 6px;
  transition: background-color 0s ease-in-out 0s, border-color 0s ease-in-out 0s, box-shadow 0s ease-in-out 0s;
  vertical-align: middle;
  width: 100%; }

.modal-form .node-lead-form .form-control {
  background-color: #EEE;
  border: 1px solid #EEE; }

.modal-dialog-small {
  max-width: 420px;
  padding-top: 60px;
  margin: 0 auto; }

.modal-dialog-large {
  max-width: 960px;
  padding-top: 60px;
  margin: 0 auto; }

.modal-dialog-large .modal-body {
  padding: 10px 50px; }

#modal-contact .modal-dialog {
  max-width: 492px; }

.contact-map .map {
  width: 450px; }

.contact-physical {
  margin-top: 20px; }

.modal.video .modal-dialog {
  max-width: 560px; }

.modal.video .modal-header {
  background: #000000;
  color: #FFFFFF;
  border-bottom: #FFDC00 10px solid; }

.modal.video .close {
  color: #FFFFFF;
  opacity: 1;
  text-shadow: none; }

.node-lead-form .form-control:focus {
  background-color: #FFF;
  border-color: #333;
  color: #000;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04) inset, 0 0 5px rgba(0, 0, 0, 0.4);
  outline: 0 none; }

.node-lead-form .alert ul {
  padding: 0;
  list-style: none; }

.node-lead-form .alert-danger {
  background-color: #FFDC00;
  border-color: #FFDC00;
  color: #000; }

.form-control:focus {
  border-color: #999;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04) inset, 0 0 5px rgba(0, 0, 0, 0.4);
  outline: 0 none; }

#block-afb-1 {
  /*  width: 75%; */ }

.node-lead-form label {
  font-size: 11px;
  margin: 0;
  font-weight: normal; }

.node-lead-form span.form-required {
  color: #E00; }

.main-right .block-title {
  margin-top: 0px; }

.main-container {
  margin-bottom: 40px; }

.form-group {
  margin-bottom: 10px; }

.middle-row {
  background-color: #FFF;
  padding-left: 15px;
  padding-right: 15px;
  position: relative; }

.middle-row .glyphicon {
  font-size: 0.7em; }

.row.stats {
  margin-top: 10px;
  margin-bottom: 10px; }

.citation {
  font-size: 12px;
  text-align: right;
  line-height: 13px;
  font-weight: normal;
  font-style: normal; }

.yp-yellow {
  height: 14px;
  background-color: #FFDC00; }

.navbar-toggle {
  background-color: #000;
  border: none;
  color: #777;
  border-radius: 0px;
  float: right;
  margin-bottom: 3px;
  margin-right: 30px;
  margin-top: 14px;
  padding: 3px 0px;
  position: relative;
  font-size: 11px; }

.navbar-toggle .icon-bar {
  border-radius: 5;
  height: 3px;
  width: 25px; }

.navbar-default .navbar-toggle:hover {
  background-color: #000; }

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 5px; }

.navbar-default .navbar-toggle:hover .icon-bar {
  color: #FFF; }

a.learn-more-link {
  font-size: 14px;
  line-height: 20px;
  height: 18px;
  width: 100px;
  float: right;
  margin-top: 20px;
  margin-bottom: 30px;
  font-weight: bold; }

a.learn-more-link .glyphicon-circle-arrow-right {
  top: 2px; }

.more-link .glyphicon-circle-arrow-right {
  top: 3px; }

.more-link {
  font-size: 18px;
  line-height: 20px;
  float: right;
  margin-top: 10px; }

a.learn-more-link.read-more {
  font-size: 14px;
  line-height: 16px;
  width: 86px; }

a:hover, a:focus {
  color: #000;
  text-decoration: underline; }

a:focus {
  outline: thin dotted #DDD;
  outline-offset: -2px; }

.callout.display {
  border: none; }

.btn-primary {
  background-color: #FFDC00;
  border-color: #FFDC00;
  color: #000;
  font-size: 12px;
  font-weight: bold;
  border-radius: 3px; }

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
  background-color: #000;
  border-color: #000;
  color: #FFF; }

.quote-right .citation {
  margin-top: 10px; }

.quote-right {
  margin-top: 20px;
  background: #4D4D4D;
  color: #FFF;
  padding: 30px;
  font-size: 18px;
  font-style: italic;
  line-height: 22px;
  margin-bottom: 30px; }

.stats-right {
  margin-bottom: 30px; }

.stats-right img {
  width: 100%; }

.slideshow-copy {
  width: 650px;
  font-size: 32px;
  color: #FFF;
  line-height: 38px;
  position: absolute;
  top: 180px; }

.slideshow-copy span {
  background-color: #000;
  z-index: 100;
  padding: 4px; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: inherit;
  font-family: "AkzidenzGroteskBE", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 500;
  line-height: 1.1; }

.callout h2 {
  font-weight: bold; }

.bottom-right h2 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px; }

#edit-field-future-communication label {
  line-height: 14px;
  display: block; }

.node-lead-form .form-item.checkbox {
  margin-top: 5px;
  margin-bottom: 5px; }

.hero-copy {
  display: inline;
  position: relative;
  top: 0px;
  max-width: 100%;
  font-size: 48px;
  font-weight: bold;
  left: -15px;
  max-width: 100%;
  color: #FFF;
  background: #000;
  line-height: 50px;
  padding: 0 15px;
  height: 60px;
  text-transform: lowercase;
  letter-spacing: -.02em; }

.hero-copy-labs {
  display: inline;
  position: relative;
  top: 0px;
  font-size: 48px;
  font-weight: bold;
  left: -15px;
  max-width: 100%;
  color: #000;
  background: #fff;
  line-height: 50px;
  padding: 0 15px;
  height: 60px;
  text-transform: lowercase;
  letter-spacing: -.03em; }

.carrot {
  position: absolute;
  top: 24px;
  left: 46%; }

.yp-logo img {
  width: 300px;
  height: 300px;
  z-index: -10; }

.stay-connected {
  padding: 30px;
  padding-top: 20px;
  background-color: #EEE;
  margin-bottom: 30px;
  display: table; }

.front .top-left-box {
  margin-bottom: 30px; }

.display .top-left-box {
  margin-bottom: 20px; }

.top-left-box {
  font-size: 20px;
  background-color: #FFF;
  color: #000;
  padding: 0px;
  line-height: 28px;
  font-weight: 700;
  margin-bottom: 50px;
  padding-top: 25px; }

.top-left-box .icon-yp {
  width: 100%; }

.top-left-box .bullets {
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  padding-left: 20px;
  margin-top: 5px; }

.top-left-box h2 {
  font-size: 42px;
  text-transform: lowercase;
  font-weight: bold;
  padding-top: 20px;
  margin: 0; }

.border-top {
  border-top: 1px solid #EEEEEE; }

.page-node-8 .top-left-box h2 {
  text-transform: none;
  padding-top: 20px; }

.top-left-box .icon-box {
  padding: 0; }

.intro-box {
  padding: 20px;
  padding-right: 10px; }

.node-lead-form .form-submit {
  float: right;
  margin-top: 10px; }

.node-lead-form .form-type-checkbox {
  float: left; }

.foot-notes {
  font-size: 10px;
  color: #999;
  padding: 0 10px 10px; }

.legal-bottom {
  background: #FFF;
  padding-bottom: 15px;
  padding-top: 30px;
  border-top: 1px solid #EEEEEE; }

.nav-bottom .navbar-nav {
  float: none;
  text-align: center; }

.nav-bottom .navbar-nav li {
  float: left; }

.nav-bottom {
  margin-top: 15px; }

.nav-bottom .nav li a {
  color: #FFF; }

.nav-bottom .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background-color: #333;
  color: #FFF; }

.bottom-contact-info .contact-us-link {
  font-size: 14px;
  font-weight: bold; }

.bottom-contact-info p {
  color: #999; }

.bottom-contact-info .leaf {
  margin-left: 15px; }

.bottom-contact-info li a.contact-us-link {
  color: #FFF; }

.bottom-nav li a {
  font-size: 12px;
  font-weight: normal;
  color: #999;
  padding: 4px; }

.icons-social {
  margin-top: 5px;
  text-align: right;
  line-height: 1;
  padding-right: 15px; }

.icons-social img {
  width: 36px; }

.icons-social a {
  color: #FFF;
  padding: 0 4px;
  font-weight: normal; }

.genericon {
  font-size: 32px;
  margin-right: 20px; }

.icons-social a:hover {
  text-decoration: none; }

.icons-social a:hover .genericon-twitter {
  color: #55acee; }

.icons-social a:hover .genericon-facebook {
  color: #3b5998; }

.icons-social a:hover .genericon-linkedin-alt {
  color: #0e76a8; }

.icons-social a:hover .genericon-youtube {
  color: #c4302b; }

.nav-bottom .icons {
  float: right; }

.nav-bottom .icons a {
  background: url("../images/icons_social-01.png") no-repeat scroll left top transparent;
  display: inline-block;
  height: 50px;
  margin: 0 5px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 50px;
  background-size: 190px;
  float: right; }

.nav-bottom .icons a:hover {
  background: url("../images/icons_social-01.png") no-repeat scroll;
  background-size: 190px;
  background-position: inherit -50px; }

.nav-bottom .icons .twitter {
  background-position: 4px 10px; }

.nav-bottom .icons .youtube {
  background-position: -46px 10px; }

.nav-bottom .icons .facebook {
  background-position: -94px 10px; }

.nav-bottom .icons .linkedin {
  background-position: -144px 10px; }

.nav-bottom .icons .twitter:hover {
  background-position: 4px -43px; }

.nav-bottom .icons .youtube:hover {
  background-position: -46px -43px; }

.nav-bottom .icons .facebook:hover {
  background-position: -94px -43px; }

.nav-bottom .icons .linkedin:hover {
  background-position: -144px -43px; }

.bottom-navigation {
  margin-top: 12px; }

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border: #F00; }

.home-vid-header {
  font-size: 37px;
  font-weight: 700;
  margin-bottom: 0px; }

.home-vid-sub-header {
  font-size: 20px;
  margin-top: 8px; }

.home-vid-description {
  font-size: 20px;
  font-weight: 700;
  padding: 1em 0; }

.home-vid {
  margin: 25px 0; }

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0px;
  height: 0;
  overflow: hidden; }

.video-container iframe, .video-container object, .video-container embed, .video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.top-left-mobile {
  border-bottom: 1px solid #DDDDDD;
  margin-bottom: 0px;
  padding-bottom: 1.4em; }

.emt-video-header {
  font-size: 24px;
  font-weight: 900; }

.emt-video {
  margin: 1em 0 2.6em 0; }

span.sup {
  font-size: 70%;
  position: relative;
  bottom: 1ex;
  vertical-align: top;
  padding-left: 1px; }

.labs-copy h2 {
  font-size: 44px;
  text-transform: lowercase;
  font-weight: bold;
  letter-spacing: -.05em;
  line-height: 44px; }

.labs-copy h2 .sup {
  font-size: 14px; }

.labs-copy h3 {
  font-size: 34px;
  font-weight: bold;
  letter-spacing: -.05em; }

.labs-copy > p {
  font-size: 18px;
  margin-bottom: 30px;
  letter-spacing: -.03em; }

.labs-copy ul {
  list-style: none;
  font-weight: bold;
  margin: 0px;
  padding: 5px 20px; }

.labs-copy li {
  font-size: 18px;
  margin-bottom: 15px;
  line-height: 22px; }

.labs-copy .image-fpo {
  padding: 15px 0 5px 0; }

.labs-form {
  background: #e4e3e3;
  padding: 30px;
  margin-bottom: 32px; }

.labs-form input, textarea {
  background: #fff !important; }

.labs-form textarea {
  height: 100px !important; }

.labs-form button {
  font-size: 14px;
  padding: 5px 30px; }

.guarantee-page .top {
  height: 100px; }

.guarantee span.yellow {
  color: #FEDB31; }

.guarantee {
  font-size: 18px; }

.guarantee h2 {
  font-size: 44px;
  font-weight: bold;
  margin-top: 0px;
  display: inline;
  position: relative;
  top: 0px;
  max-width: 100%;
  font-size: 48px;
  font-weight: bold;
  max-width: 100%;
  color: #fff;
  background: #000;
  line-height: 55px;
  margin-bottom: 20px;
  text-transform: lowercase;
  letter-spacing: -.05em; }

.guarantee h2 span {
  padding: 0 15px; }

.guarantee .legal-foot {
  font-size: 9px;
  color: #999;
  padding-bottom: 10px; }

.paragraph.upper {
  font-size: 24px;
  line-height: 30px; }

.download-item {
  margin-bottom: 15px;
  height: 70px; }

.downloads-list {
  list-style: none;
  padding: 0; }

.download-label {
  margin-bottom: 5px;
  line-height: 16px;
  font-size: 14px; }

.alternative-content-label {
  margin-bottom: 0;
  margin-top: 10px;
  line-height: 16px;
  font-size: 14px;
  font-weight: bold;
  text-align: center; }

.download-item .thumb-download {
  width: 48px;
  height: auto;
  float: left;
  margin-right: 10px;
  border: 0; }

.thumb-alternative {
  width: 100%; }

.node-content-alternative.node-teaser {
  padding: 15px;
  margin-bottom: 30px;
  color: #FFF;
  background-color: #000; }

.playbutton {
  position: absolute;
  width: 80px;
  margin-top: -130px;
  margin-left: 90px; }

.node-content-alternative.node-teaser a {
  color: #FFF; }

body.front #download-resume {
  display: none; }

.download-button {
  float: left;
  font-size: 14px;
  font-weight: bold;
  height: 16px;
  line-height: 16px;
  width: 90px; }

.block-more-info h2 {
  font-size: 28px;
  text-transform: lowercase;
  font-weight: bold;
  margin: 0;
  margin-bottom: 30px; }

.block-more-info {
  padding: 30px;
  background: #E7E7E8;
  margin-bottom: 30px; }

/* Mobile Guarantee Page */
.guarantee-landing h1 {
  margin: 10px 0 20px 0;
  font-size: 48px;
  font-weight: 900;
  letter-spacing: -.03em; }

.guarantee-landing h2 {
  font-size: 30px;
  font-weight: 900;
  margin-bottom: .6em; }

.guarantee-landing p {
  margin-top: .6em;
  font-size: 26px;
  letter-spacing: -1px;
  line-height: 32px; }

.lba-bullets {
  margin: 1.8em 0;
  font-size: 18px; }

.lba-bullets li {
  line-height: 22px;
  margin-bottom: .8em; }

.mms-info {
  background: #F2F2F2;
  padding: 25px;
  margin-bottom: 2em; }
  .mms-info img {
    margin-bottom: 1.6em; }

.mms-info h3 {
  font-weight: bold; }

.mms-info p.lead {
  color: black;
  font-size: 15px; }

.mms-info ul {
  padding-left: 1.6em; }

.mms-info li, .mms-info h3 {
  color: #A3A3A3;
  font-size: 12px; }

.mms-download {
  display: block;
  height: auto;
  border-bottom: 1px solid #D9D9D9; }

.mms-download-img {
  width: 84px;
  float: left;
  margin-right: .5em; }

.mms-download-link {
  color: black !important;
  font-weight: bold; }

/* Form Styles For Contact Us and Guarantee Pages */
.main-form {
  width: 100%; }
  .main-form .parsley-required {
    padding-top: .5em; }
  .main-form input.parsley-error {
    background: none; }
  .main-form label {
    margin-top: .9em;
    padding-bottom: .3em;
    font-weight: bold;
    font-size: 14px; }
  .main-form input {
    width: 100%;
    border: 2px solid #C9C7C7;
    padding: .7em;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em; }
  .main-form select.form-control {
    width: 100%;
    height: 40px;
    border: 2px solid #C9C7C7;
    padding: 2em !important;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em; }
  .main-form textarea {
    width: 100% !important;
    border: 2px solid #C9C7C7 !important;
    padding: 0.7em !important;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    margin-top: .3em; }
  .main-form button {
    margin: 1em auto;
    display: block;
    padding: .5em 1.6em;
    background: #FDDB00;
    border: none;
    -webkit-border-radius: .3em;
    -moz-border-radius: .3em;
    border-radius: .3em;
    font-size: 27px;
    font-weight: 700; }

/* Contact Page */
#contact-us {
  padding: 1em 2em 3em 2em;
  background: #F2F2F2;
  margin-bottom: 1.6em; }
  #contact-us .org {
    font-size: 24px;
    font-weight: bold;
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: .2em;
    margin-bottom: .6em; }
  #contact-us .email {
    font-weight: bold;
    font-size: 12px; }

.head-container {
  max-width: 970px; }

.container {
  max-width: 970px; }

#block-views-list-downloads-block {
  padding: 30px;
  padding-top: 20px;
  background-color: #EEE;
  margin-bottom: 30px; }

#block-block-2 {
  padding: 30px;
  padding-top: 20px;
  background-color: #EEE;
  margin-bottom: 30px; }

#block-views-list-downloads-block h2 {
  font-size: 28px;
  text-transform: lowercase;
  font-weight: bold;
  margin: 0;
  margin-bottom: 30px; }

#block-block-2 h2 {
  font-size: 28px;
  text-transform: lowercase;
  font-weight: bold;
  margin: 0;
  margin-bottom: 30px; }

.instructional-bottom {
  margin-bottom: 10px;
  margin-top: 10px; }

.image-fpo {
  float: left;
  margin-right: 15px;
  margin-top: 10px;
  width: 150px; }

.modal-title {
  font-weight: bold;
  padding-left: 10px;
  font-size: 16px; }

.modal-header {
  border-bottom: 0px; }

.modal-body .instructional {
  font-size: 18px;
  margin: 0 .5em; }

.modal-form {
  padding: 10px;
  display: table;
  width: 100%; }

.paragraph.lower {
  padding-bottom: 30px;
  padding-top: 30px;
  border-top: 1px solid #DDD;
  font-size: 18px; }

.event {
  margin: 10px 0 10px 0; }

.event-main {
  margin: 0 0 10px 0;
  font-size: 22px;
  line-height: 29px; }

.event-link {
  font-weight: 900;
  font-size: 22px; }

.large-glyph {
  font-size: 14px !important;
  top: -1px; }

.vjs-big-play-button {
  display: none !important; }

.upcoming, .recognition {
  width: 100%;
  display: block;
  padding: 0px 20px 20px 20px;
  margin: 0 0 30px 0;
  font-size: 14px;
  font-weight: normal; }
  .upcoming .event, .recognition .event {
    font-size: 16px;
    margin-bottom: 10px; }
  .upcoming h3, .recognition h3 {
    font-size: 31px;
    font-weight: 900;
    width: auto;
    display: inline-block;
    margin-top: 12px;
    padding-bottom: 10px;
    border-bottom: 10px solid #FDDB00; }
  .upcoming p, .recognition p {
    line-height: 20px;
    padding-bottom: 5px; }

.upcoming {
  color: white;
  background: #000;
  display: none; }
  .upcoming a {
    color: white; }

.recognition {
  color: black;
  background: #f2f2f2; }

.news-section.paragraph.lower {
  padding-bottom: 20px;
  margin-bottom: 10px;
  margin-top: 1.6em;
  font-size: 18px; }

.news-section.paragraph.lower h2 {
  font-size: 34px; }

.news-lead {
  padding-top: 9px;
  font-size: 52px;
  line-height: 48px;
  margin-bottom: 30px !important; }

.paragraph h2 {
  font-weight: bold;
  margin: 0;
  margin-bottom: 10px; }

.adweek-mixx-events {
  margin-top: 1.6em; }

.aw-form-container {
  height: 100%; }

.lba-logo {
  width: 100%; }

.aw-info {
  font-size: 19px;
  font-weight: 100;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 1.2em;
  margin-bottom: 1.2em; }

.aw-event {
  font-size: 22px;
  font-weight: 900;
  margin-left: 1em; }

.aw-date {
  display: inline-block;
  font-size: 24px;
  color: white;
  background: black;
  padding: 6px 15px; }

.aw-time {
  font-style: italic;
  margin-left: 1em; }

.aw-dashed {
  border-bottom: 1px dashed silver;
  margin: 1.2em 0; }

.aw-location, .aw-room, .aw-copy {
  margin-left: 1em; }

.aw-speaker {
  margin: 0 0 .3em 1em;
  font-weight: 700;
  display: inline-block;
  border-bottom: 4px solid #FDDB00; }

@media (max-width: 700px) {
  .aw-speaker {
    margin: .3em 0 .3em 1em;
    font-weight: 700;
    display: inline-block;
    padding: .6em;
    line-height: 1.2em;
    background: #FDDB00;
    border-bottom: none; }

  .aw-pin {
    display: none; } }
.aw-location {
  text-decoration: underline; }

.aw-pin {
  height: 22px;
  width: 12px;
  margin-left: 5px;
  margin-bottom: 2px; }

.logos-yp-news {
  margin-top: 30px;
  margin-bottom: 30px; }

.logo-mobile {
  display: none; }

.downloads-enabled {
  font-size: 18px; }

#download-resume {
  margin-top: 20px;
  margin-bottom: 40px; }

body.page-more-information {
  background: #FFF; }

.symbol, a.symbol:before {
  font-family: 'Mono Social Icons Font';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased; }

a.symbol:before {
  content: attr(title);
  margin-right: 0.3em;
  font-size: 130%; }

.socialico a {
  font-family: "genericons", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: normal; }

.symbol, a.symbol:before {
  font-family: 'Mono Social Icons Font';
  font-size: 38px;
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased; }

body {
  font-family: "AkzidenzGroteskBE", Arial, "Helvetica Neue", Helvetica, sans-serif; }

.thanks {
  font-size: 36px;
  font-weight: bold;
  margin-top: 40px; }

.finale {
  text-align: center;
  margin-right: auto;
  margin-left: auto; }

#download-resume {
  font-size: 18px;
  padding: 4px 30px; }

/*  
*
*
*
*
Media Queries
*
*
*
*/
@media (max-width: 1000px) {
  .login-button {
    border: none;
    padding: 15px 30px !important; }

  .hero-copy, .hero-copy-labs {
    line-height: 36px;
    font-size: 40px;
    height: 40px;
    top: 10px; }

  .mms-download-img {
    display: none; }

  .top-left-box {
    font-size: 20px;
    line-height: 28px; }

  .top-left-box h2 {
    padding: 0; }

  .top-left-box .bullets {
    font-size: 14px;
    line-height: 20px;
    list-style: none outside none;
    padding-left: 0; }

  .navbar-nav {
    margin: 0; }

  .navbar-collapse {
    padding: 0;
    box-shadow: none;
    max-height: 500px; }

  .bottom-navigation .navbar-nav > li > a {
    padding: 0; }

  .thumb-download {
    display: none;
    margin: auto; }

  .bottom-contact-info {
    margin-left: 15px;
    padding-left: 10px;
    float: right; } }
@media (max-width: 767px) {
  .logo-a {
    left: -100px; }

  .top .navbar-header {
    min-height: 54px; }

  .labs-nav {
    display: none; }

  .thumb-download {
    display: block; }

  .navbar-nav {
    margin: 0;
    width: 100%; }

  .icons-social {
    margin-top: 20px;
    text-align: center;
    padding: 0 20px; }

  .bottom-contact-info a {
    width: 60%;
    text-align: center;
    border-radius: 4px;
    background: #FDDB00 !important;
    color: black !important;
    margin: 10px 20%;
    display: block; }

  .bottom-contact-info a:hover {
    width: 60%;
    text-align: center;
    border-radius: 4px;
    background: #FDDB00 !important;
    color: black !important;
    margin: 10px 20%;
    display: block; }

  .mobile-secondary-nav {
    display: block;
    margin: 0px;
    padding: 0px;
    width: 100%;
    list-style: none;
    background: #fff; }
    .mobile-secondary-nav li.active a {
      background: #bcbcbc; }
    .mobile-secondary-nav li a {
      padding: 1em;
      display: block;
      padding: .6em 3em;
      background: #DDDDDD;
      font-size: 16px;
      border-top: 1px solid silver;
      text-decoration: none; } }
@media (max-width: 500px) {
  .news-lead {
    font-size: 34px;
    line-height: 34px; }

  .front .main-left .col-sm-9 {
    padding-top: 10px;
    width: 100%; }

  .front .main-left .col-sm-3 {
    width: 100%;
    padding-top: 6%;
    text-align: center; }

  .front .main-left .col-sm-3 a {
    display: block;
    overflow: hidden;
    height: 110px;
    padding: 0; }

  .hero-copy, .hero-copy-labs {
    padding: 2px 6px;
    left: 15px; }

  .download-item {
    margin-bottom: 10px;
    height: 70px;
    border-top: 1px solid #DDD;
    padding: 10px 0 0 0; }

  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #ffdd00;
    color: #000; }

  body.navbar-is-fixed-top {
    padding-top: 220px; }

  .carousel {
    top: 60px; }

  .bg-image img {
    top: 54px; }

  .top-nav .navbar-nav > li > a {
    padding: 15px 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 18px;
    font-weight: bold; }

  .top .navbar-default {
    background-color: rgba(0, 0, 0, 0.9); }

  .top .navbar-header {
    min-height: 54px; }

  .main-container {
    position: absolute;
    top: 200px; }

  .subnav-bottom {
    border: 0;
    margin-top: 20px;
    border-top: 1px solid #222; }

  .bottom-navigation .navbar-nav > li > a {
    font-size: 12px;
    padding: 5px 10px; }

  .top-nav.navbar-collapse {
    margin-top: 0px; }

  .top-nav .navbar-fixed-top {
    min-height: 54px; }

  .nav-bottom .icons .twitter {
    margin-right: 0px; }

  .bottom-contact-info a {
    width: 60%;
    text-align: center;
    border-radius: 4px;
    background: #FDDB00 !important;
    color: black !important;
    margin: 10px 20%;
    display: block; }

  .bottom-contact-info a:hover {
    width: 60%;
    text-align: center;
    border-radius: 4px;
    background: #FDDB00 !important;
    color: black !important;
    margin: 10px 20%;
    display: block; }

  .bottom-navigation {
    padding-bottom: 20px; }

  .subnav-bottom .menu > li > a {
    margin-right: 0; }

  .bottom-navigation .navbar-nav > li > a {
    padding: 0;
    margin-right: 5px;
    margin-left: 10px; }

  .nav-bottom .icons {
    display: table;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    float: none; }

  .subnav-bottom .menu {
    padding-left: 0px; }

  .paragraph.upper {
    font-size: 18px;
    line-height: 24px; }

  .news-section.paragraph.lower h2 {
    font-size: 24px; }

  .hero-padding {
    margin-top: -36px; }

  .hero-copy, .hero-copy-labs {
    top: -60px; }

  .top-left-box {
    font-size: 16px;
    line-height: 20px; }

  .top-left-box .icon-box {
    padding: 0; }

  .top-left-box .bullets {
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    padding-left: 0px; }

  .top-left-box .icon-yp {
    max-height: 100%;
    width: 100%; }

  .top-left-box.display .icon-box {
    padding-top: 10px; }

  .top-left-box h2 {
    font-size: 24px;
    text-transform: lowercase;
    font-weight: bold;
    margin: 0;
    margin-bottom: 5px; }

  .news-section .paragraph.lower h2 {
    font-size: 24px; }

  .paragraph.lower {
    font-size: 14px;
    line-height: 20px; }

  .hero-copy, .hero-copy-labs {
    font-size: 28px; }

  .image-fpo {
    display: none; }

  .news-section.paragraph.lower {
    font-size: 14px;
    line-height: 20px; }

  .callout.mobile .col-sm-12 {
    background-position: -10px 20px; }

  .main-container .callout.mobile h2 {
    margin-left: 0px; }

  .main-container .callout.search h2 {
    margin-left: 0; }

  .main-container .callout h2 {
    font-size: 32px;
    margin-bottom: 30px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    text-align: center; }

  .callout .col-sm-12 {
    background-position: 5px 20px;
    background-repeat: no-repeat;
    background-size: 90px auto;
    min-height: 160px;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 20px; }

  /*
  .callout .col-sm-12 {
      background-position: 0 30px;
      background-repeat: no-repeat;
      background-size: 60px auto;
      min-height: 160px;
      padding-left: 80px;
      padding-right: 20px;
      padding-top: 30px;
      }
  */
  .logo-mobile {
    height: 42px;
    margin-left: 25px;
    padding: 10px 5px 5px;
    display: block;
    float: left;
    margin-top: 3px; }

  .yp-logo {
    display: none; }

  .navbar {
    margin-bottom: 0; } }
/*CNBC PLAYER LOGO BUG FIX*/
#broadcaster-logo, #broadcaster-logo a {
  border: none !important; }
