body {
	background:black;
	color:white;
	font-weight: 200;
	letter-spacing: .04em
}

h1 {
	margin: 1em 0 0 0;
	font-size:30px;
}

h2 { 
	font-weight: 300;
	padding:0 0 .6em 0;
	font-size:22px;
	line-height: 28px;
}
p {
	line-height: 22px;
	margin-bottom:1.6em;
	padding-right:1em;
}

a {
	color:#C9C7C7;
	border-bottom:1px solid #FFE631;
}

a:hover {
	color:#FFF;
	text-decoration: none;
	border-bottom:1px solid #FFE631;
}
.container {max-width:800px;}

.logo {
	width:76px;
	margin-top:3em;
}

@media (max-width: 500px) {
	.logo {
		display:block;
		margin:2em auto;
	}

	h1 { 
		margin: 0em auto;
		text-align: center;
	}

	.image-bar img {
		width:100%;
		margin:0em 0;
	}

}

ul { 
	margin-bottom: 2em;
}

.image-bar img {
	width:100%;
}

.location {
	padding:1em;
}

.region-header {
	font-size: 1.6em;
	margin-bottom:2;
}

.city {
	font-style: italic;
	font-size:18px;
}

.dtstart, .dtend { display: inline-block; }

.legal {
	font-size:9px;
	line-height: 18px;
}

.eventbrite {
	margin-top:10px;
}